@charset "UFT-8";

/* @import url("./font-awesome.min.css"); */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary,
time {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}