@charset "UTF-8";
.search-spaces {
    margin-left: 50px;
}

div#spin {
    visibility: none;
}

div::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}


/*pseudo="-webkit-inner-spin-button"*/


/*id="spin"*/


/*let s = document.querySelector("#spin");*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.roles-tree {
    background: rgba(125, 125, 125, 0.5);
    width: 200px;
    height: 500px;
    float: left;
    margin-right: 30px;
    z-index: -9999;
    /*padding: auto 20px;*/
}

.table-left {
    margin-left: 220px;
}