@charset "UTF-8";
html,
body,
section,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


/* CSS variable */

.app {
    --bg-color: #0f0;
    background-color: var(--main-bg-color);
}

.sider {
    width: 20%;
    height: 100vh;
    background: #0f0;
    float: left;
    overflow: hidden;
}

.sider-small {
    width: 10px;
    height: 100vh;
    background: #0f0;
    float: left;
    overflow: hidden;
}


/* outer-box */

.content-body {
    /* width: 80%; */
    width: calc(100% - 20%);
    height: 100vh;
    background: #ccc;
    /* float: left; */
    margin-left: 20%;
    overflow-y: scroll;
    position: relative;
}

.content-body-big {
    width: calc(100% - 10px);
    height: 100vh;
    background: #ccc;
    /* float: left; */
    margin-left: 10px;
    overflow-y: scroll;
    position: relative;
}


/* inner-box */

.modules {
    /* width: 80%; */
    width: 700px;
    height: 1000px;
    /* height: 2000px; */
    /* height: 600px; */
    background: #fff;
    /* position: absolute; */
    margin: 50px auto;
    /* padding: 10px auto; */
    padding-top: 50px;
}


/* two column layout */

.modules1,
.modules2 {
    width: 300px;
    height: 500px;
    /* background: #fff;
    margin: 50px auto;
    padding-top: 50px; */
    float: left;
    border: 1px solid red;
}

.module {
    width: 40%;
    height: 200px;
    margin: 10px 5%;
    float: left;
}

.module1 {
    background: rgb(3, 247, 255);
}

.module2 {
    background: rgb(139, 3, 250);
}

.module3 {
    background: rgb(255, 238, 4);
}

.module4 {
    background: rgb(250, 3, 3);
}

.module-big {
    width: 90%;
    height: 300px;
    margin: 10px 5%;
    float: left;
}

.module-half {
    width: 40%;
    height: 300px;
    margin: 10px 5%;
    float: left;
}

.module-left {
    width: 20%;
    height: 200px;
    margin: 10px 5%;
    float: left;
}

.module-right {
    width: 60%;
    height: 200px;
    margin: 10px 5%;
    float: left;
}

[data-event="event-target"]:hover {
    cursor: move;
}

0