@charset "UTF-8";

/* @import url("./common/hs-scrollbar.css"); */

.highcharts-scrollbar-track {
    stroke: #2c3237;
    fill: #2c3237;
}

.highcharts-scrollbar-button {
    stroke: #2c3237;
    fill: #2c3237;
}

.highcharts-scrollbar-thumb {
    fill: #4a4a4a;
    stroke: #4a4a4a;
    cursor: pointer;
}

.highcharts-scrollbar-thumb:hover {
    fill: #5c5c5c;
    cursor: pointer;
}

.highcharts-scrollbar-rifles {
    stroke: #4a4a4a;
}

.highcharts-scrollbar-rifles:hover {
    stroke: #fff;
}