@charset "UTF-8";

/* stock-price-turnover */

[data-uid="stock-price-turnover"] {
    border: 1px solid #d7dbe0;
    box-sizing: border-box;
    min-height: 335px;
    max-width: 542px;
    margin-top: 5px;
}

.fv-stock-price-turnover-hs {
    margin: 0 auto;
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    border-top: 1px solid #d7dbe0;
}

.fv-stock-price-turnover-title,
.fv-stock-price-turnover-container {
    max-width: 542px;
    box-sizing: border-box;
}

.fv-stock-price-turnover-hs-container {
    /* width: 850px; */
    /* height: 275px; */
    /* overflow-x: scroll; */
    /* height: 100%; */
    min-height: 275px;
    /* height: 500px; */
    max-width: 542px;
    box-sizing: border-box;
}


/* commons-title */

.fv-stock-price-turnover-title {
    position: relative;
    color: #000;
    text-indent: 15px;
    margin-left: 3px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fv-stock-price-turnover-title::before {
    position: absolute;
    top: 0px;
    left: 5px;
    content: "";
    display: inline-block;
    border: 2px solid #f79530;
    width: 0;
    height: 16px;
}


/* js control color */

[data-title-box="stock-title"] {
    box-sizing: border-box;
    /* margin: 10px auto; */
    /* border: 1px solid #d7dbe0; */
    display: block;
    width: 542px;
    height: 80px;
}

p[data-title="big-title"],
p[data-title="small-title"] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 12px;
    color: #4d4d4d;
    padding-left: 4px;
    padding-right: 4px;
    /* padding: 15px 6px 14px 6px; */
    display: block;
    float: left;
}

p[data-title="big-title"] {
    width: 200px;
    /* background: #666; */
    padding-top: 25px;
}

p[data-title="small-title"] {
    width: 340px;
    text-align: right;
    padding-top: 15px;
    /* background: #ccc; */
}

span[data-title-span="small-span"]:nth-of-type(n) {
    display: inline-block;
    margin-right: 0px;
    margin-top: 0;
    width: 50px;
    /* background: #f79530; */
}

span.small-span-red {
    color: #ff2323;
}

span.small-span-green {
    color: #0ca800;
}

span[data-title-span="small-span"]:nth-of-type(1),
span[data-title-span="small-span"]:nth-of-type(2) {
    margin-bottom: 5px;
}

span[data-title-span="small-span"]:nth-of-type(2n+2) {
    /* margin-right: 0px; */
    margin-top: 5px;
}

span[data-title-span="small-span"]:nth-of-type(n)::before {
    content: ":";
    margin-right: 0;
    color: #4d4d4d;
}

span[data-title-span="small-span"]:nth-of-type(n)::after {
    content: "%";
    margin-left: 1px;
}

span[data-title-span="small-span"]:nth-of-type(1)::after {
    /* margin-right: 46px; */
}

span[data-title-span="small-span"]:nth-of-type(3)::after {
    /* margin-right: calc(46px + 8px); */
}

span[data-title-span="small-span"]:nth-of-type(1) {
    margin-right: 46px;
}

span[data-title-span="small-span"]:nth-of-type(3) {
    margin-right: calc(46px + 15px);
}

span[data-title-span="small-span"]:nth-of-type(2) {
    margin-right: 4px;
}

span[data-title-span="small-span"]:nth-of-type(4) {
    margin-right: 8px;
}


/* stock f9 */

span[data-title-span="big-span"]:nth-of-type(n) {
    font-size: 14px;
    margin-left: 5px;
    /* color: #0ca800; */
}

span[data-title-span="big-span"]:nth-of-type(1) {
    font-weight: bold;
    font-size: 20px;
}

span[data-title-span="big-span"]:nth-of-type(1)::before {
    content: "¥";
}


/* span[data-title-span="big-span"]:nth-of-type(1)::after {
    margin-left: 5px;
    content: "";
    background-image: url("../img/up.png");
    width: 12px;
    height: 17px;
    display: inline-block;
}

span[data-title-span="big-span"]:nth-of-type(1)::after {
    margin-left: 5px;
    content: url("../img/up.png");
} */


/*  dataset */

span.big-span-red {
    color: #ff2323;
}

span.big-span-green {
    color: #0ca800;
}

span.big-span-default {
    color: #4d4d4d;
}

span[data-status="big-span-up"]::after {
    margin-left: 5px;
    content: url("../img/up.png");
}

span[data-status="big-span-down"]::after {
    margin-left: 5px;
    content: url("../img/down.png");
}

span[data-status="big-span-default"]::after {
    margin-left: 5px;
    content: "";
}

span[data-title-span="big-span"]:nth-of-type(3)::before {
    content: "(";
}

span[data-title-span="big-span"]:nth-of-type(3)::after {
    content: "% )";
}


/*

let big_spans = document.querySelectorAll(`[data-title-span="big-span"]`);

window.getComputedStyle(big_spans[0], null).getPropertyValue("background-image");
// "none"
window.getComputedStyle(big_spans[0], null).getPropertyValue("margin-left");
// "5px"


window.getComputedStyle(big_spans[0], "::after").getPropertyValue("background-image");
window.getComputedStyle(big_spans[0], "::before").getPropertyValue("background-image");

*/