.date_selector * {
    font-family: "Simsun";
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.date_selector {
    box-sizing: border-box;
    width: 242px;
    min-height: 183px;
    height: auto;
}

.date_selector {
    background: #fff;
    border: 1px solid #b5b5b5;
    padding: 5px;
    margin: -1px 0 0 0;
    position: absolute;
    z-index: 100000;
    display: none;
}

.date_selector_ieframe {
    position: absolute;
    z-index: 99999;
    display: none;
}

.date_selector .nav {
    width: 100%;
}

.date_selector .month_nav,
.date_selector .year_nav {
    margin: 0 0 3px 0;
    padding: 0;
    display: block;
    position: relative;
    text-align: center;
}

.nav>p {
    box-sizing: border-box;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #c8cac9;
    width: calc(50% - 2.5px);
}

.date_selector .month_name,
.date_selector .year_name {
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.date_selector .month_nav {
    float: right;
    line-height: 23px;
}

.date_selector .year_nav {
    float: left;
    line-height: 23px;
}


/* .date_selector .month_nav {
    float: left;
}

.date_selector .year_nav {
    float: right;
} */

.date_selector .button {
    display: block;
    position: absolute;
    top: 0;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    color: #003C78;
    text-align: center;
    font-size: 120%;
    overflow: hidden;
}

.date_selector .button:hover,
.date_selector .button.hover {
    cursor: pointer;
}

.date_selector .prev {
    left: 0;
    width: 22px;
    height: 22px;
    background: #e8eefa;
    /* border-right: #c8d5e6; */
}

.date_selector .next {
    right: 0;
    width: 22px;
    height: 22px;
    background: #e8eefa;
    /* border-left: #c8d5e6; */
}

.date_selector p span.prev {
    border-right: 1px solid#c8d5e6;
}

.date_selector p span.next {
    border-left: 1px solid #c8d5e6;
}

.prev-triangle {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid #8a97bd;
    font-size: 0;
    line-height: 0;
    /* background: #f00; */
    margin-top: 5px;
    margin-left: -7px;
    position: absolute;
}

.next-triangle {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid #8a97bd;
    font-size: 0;
    line-height: 0;
    /* background: #f00; */
    margin-top: 5px;
    margin-left: -2px;
    position: absolute;
}

.date_selector table {
    border-spacing: 0;
    border-collapse: collapse;
    clear: both;
}

.date_selector th,
.date_selector td {
    box-sizing: border-box;
    /* width: 2.5em; */
    /* height: 2em; */
    width: 34px;
    height: 22px;
    padding: 0;
    text-align: center;
    color: black;
}

.date_selector td {
    border: 1px solid #c5d1db;
    /* line-height: 2em; */
    height: 22px;
    width: 34px;
    text-align: center;
    white-space: nowrap;
    color: #434343;
    background: white;
    font-weight: 500;
}

.date_selector td.today {
/*     background: #FFC107; */
    background: #3685ff;
    color: #fff;
}

.date_selector td.unselected_month {
    color: #898989;
    background: #eee;
    cursor: not-allowed;
}

.date_selector td.selectable_day {
    cursor: pointer;
}

.date_selector td.selected {
    background: #d6e7ff;
    outline: #3685ff auto 1px;
    color: #076afe;
    font-weight: bold;
}

.date_selector td.selectable_day:hover,
.date_selector td.selectable_day.hover {
    outline: #3685ff auto 1px;
    color: #434343;
    font-weight: bold;
}

.date_selector thead>tr>th {
    background: #f4f9ff;
}

.date_selector table>thead>tr {
    border: 1px solid #c5d1db;
}

.date_selector table>thead>tr>th {
    box-sizing: border-box;
    height: 22px;
    line-height: 22px;
}


/* icon */

[data-container="input-after-container"] {
    box-sizing: border-box;
    width: 110px;
    border: none;
    /* overflow: hidden; */
    display: inline-block;
    position: relative;
}

input[data-uid="jquery-datepicker"] {
    box-sizing: border-box;
    width: 110px !important;
    border: 1px solid #a5bacf;
    background: #fafbff;
    color: #2e2f33;
    height:  23px;
    text-indent: 4px;
}

input[data-uid="jquery-datepicker"]:focus {
    outline-offset: -1px;
    outline: #3685ff auto 1px;
}


/* outline */

[data-container="input-after-container"]::after {
    box-sizing: border-box;
    content: url("../img/calendar.png");
    position: absolute;
    left: 89px;
    top: 4px;
}