@charset "UTF-8";

/* fonts */

@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';

/* css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Add Animation */

@keyframes animatetop {
    from {
        top: 50%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal {
    /* This way it could be display flex or grid or whatever also. */
    display: block;
    /* Probably need media queries here */
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);
    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
    display: none;
    /* width: 0;
    height: 0;
    visibility: hidden;
    z-index: -999; */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
}

.modal-contents {
    box-sizing: border-box;
    position: absolute;
    /* overflow: auto; */
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    min-width: 500px;
    min-height: 400px;
    padding: 0;
    margin: auto;
    /* transform: translate(-5%); */
    color: #fff;
    border: 1px solid red;
    z-index: 999;
    /* transition bad */
    /* transform-origin: center;
    transform: scale(1.0);
    transition: all 2s 0.5s ease-in-out; */
    /* animation ok */
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-contents-small {
    /* box-sizing: border-box; */
}

.modal-contents-big {
    /* box-sizing: border-box; */
}

.modal-contents>h3 {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    /* line-height: 10%; */
    /* max-height: 50px; */
    min-height: 30px;
    /* padding: 0; */
    /* padding-top: 10px; */
    background-color: rgb(113, 247, 36);
    text-align: center;
}

.modal-contents>div {
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    height: 90%;
    max-width: 1366px;
    max-height: 888px;
    min-width: 400px;
    min-height: 300px;
    padding: 0;
    padding-top: 30px;
    margin: auto;
    background-color: coral;
    transform-origin: center;
    transform: scale(1.0);
    transition: all 2s 0.5s ease-in-out;
}

body {
    background-color: #556;
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    font-family: 'Prompt', sans-serif;
}


/* no need background-image & overwrite background-color*/


/*

body {
    background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    font-family: 'Prompt', sans-serif;
}

*/

ul {
    margin: 10px 0 10px 30px;
}

li,
p {
    margin: 0 0 10px 0;
}

h1 {
    margin: 0 0 20px 0;
}

.close-link {
    box-sizing: border-box;
    position: absolute;
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 9999;
    top: 5%;
    /* needs to look OK with or without scrollbar */
    right: 5%;
    border: 0;
    /* container border 1px */
    margin-top: 1px;
    margin-right: 1px;
    background: #71f724;
    color: #f00;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

.open-link {
    box-sizing: border-box;
    font-size: 12px;
    color: #0f0;
    /* background: #fff; */
}

* {
    color: #fff;
}


/* not use anymore! */

.close-button {
    box-sizing: border-box;
    position: absolute;
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 9999;
    top: 5%;
    /* needs to look OK with or without scrollbar */
    right: 5%;
    border: 0;
    /* container border 1px */
    margin-top: 1px;
    margin-right: 1px;
    background: #71f724;
    color: #f00;
    padding: 5px 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.open-button {
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 21px;
}