@charset "UTF-8";

/* newly-added-protocol */


/* commons-title */


/* .otc-h5dnd-modules-title-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
}

.otc-h5dnd-modules-title {
    position: relative;
    color: #2e2f33;
    text-indent: 14px;
    margin-left: 0;
    font-weight: 600;
    font-size: 15px;
    font-family: "MicroSoft YaHei", sans-serif, serif;
    margin-top: 6px;
    margin-bottom: 5px;
}

.otc-h5dnd-modules-title::before {
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 4px;
    background: #f79530;
    height: 15px;
} */

.otc-newly-added-protocol-hs {
    /* margin: 0 auto; */
    box-sizing: border-box;
    border: 1px solid #d7dbe0;
}


/*
    width: 100%;
    height: 275px;
*/

.otc-newly-added-protocol-hs-container {
    /* max-width: 540px; */
    /* height: 275px; */
    /* overflow-x: scroll; */
    height: 100%;
    /* min-height: 275px; */
    /* height: 500px; */
}

#newly_added_protocol_hs_container {
    /* min-height: 100px; */
    height: 100%;
    width: 100%;
    max-width: 538px;
    /* max-width: 540px; */
    margin-top: 10px;
}

* {
    box-sizing: border-box;
}


/* table */

[data-table="otc-newly-added-protocol-table"] {
    /* width: 542px; */
    /* max-width: 540px; */
    width: 538px;
    /* width: 100%; */
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    font-weight: normal;
    /* overflow: hidden; */
    /* margin-top: 10px; */
}


/* thead */

thead[data-table-thead="otc-table-thead-newly-added-protocol"] {
    /* display: block; */
}

[data-table="otc-newly-added-protocol-table"]>thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


/* .otc-newly-added-protocol-table */


/* .otc-newly-added-protocol-table-box */


/* th */

[data-table-th="otc-table-th-newly-added-protocol"] {
    font-size: 18px;
    text-align: left;
    /* background-color: #666; */
    box-sizing: border-box;
}


/* table head */

.otc-td-key::after {
    /* content: ":"; */
}

.otc-th-fire::after {
    /* content: "🔥"; */
    /* content: ""; */
}


/* securities-abbreviation-newly-added-protocol */

span[data-otc-th-title="securities-code-newly-added-protocol"]::before {
    content: "(";
    /* color: #f0f; */
}

span[data-otc-th-title="securities-code-newly-added-protocol"]::after {
    content: ")";
    /* color: #f0f; */
}


/* th a link */

[data-table-th-link="otc-table-th-link-newly-added-protocol"] {
    box-sizing: border-box;
    text-align: right;
    font-size: 13px;
    padding: 0;
}

.otc-th-more>a[data-otc-th-link="otc-link-detials"] {
    cursor: pointer;
    color: #3285ff;
    text-decoration: none;
    font-weight: normal;
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 4px;
}

.otc-th-more>a[data-otc-th-link="otc-link-detials"]:hover {
    color: #f50;
}

[data-otc-th-link="otc-link-detials"]::after {
    content: ">>";
}


/* tr */

[data-table-tr="otc-table-tr-newly-added-protocol"] {
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
}

[data-table-body="otc-table-body-newly-added-protocol"]>tr:nth-of-type(n+1)>td:nth-of-type(2n+2) {
    padding-right: 4px;
}

[data-table-body="otc-table-body-newly-added-protocol"]>tr:nth-of-type(1) {
    /* text-align: left; */
    text-align: center;
    background: #25292e;
}


/* td */


/* data-td-key="otc-td-key-NAP" */


/* data-td-value="otc-td-value-NAP" */

[data-td-key="otc-td-key-NAP"] {
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    /* text-align: center; */
    text-align: left;
    padding-left: 4px;
    /* width: calc(1*100px); */
    width: 100px;
    /* min-width: 100px;
    max-width: 100px; */
    font-weight: bold;
    line-height: 23px;
    height: 23px;
}

[data-td-value="otc-td-value-NAP"] {
    /* color: red; */
    font-size: 12px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    line-height: 23px;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td[data-td="otc-cols-span-NAP"] {
    /* width: calc(2*100px); */
    max-width: 100px;
}

[data-table-body="otc-table-body-newly-added-protocol"]>tr {
    max-width: 540px;
    overflow-x: hidden;
    background: #25292e;
}


/* data-td-value="otc-td-value" */

table,
tr,
td {
    margin: 0;
    padding: 0;
}


/* default fontsize */

* {
    font-family: SimSun, serif;
    font-size: 12px;
}


/* more */

[data-link*="otc-"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    float: right;
    margin-top: 3px;
}

[data-link*="otc-"]>a:hover {
    color: #f50;
}

[data-link*="otc-"]>a:nth-of-type(1) {
    margin-right: 54px;
}


/* commons-section */

section.otc-module-box-5 {
    box-sizing: border-box;
    float: left;
    width: 540px;
    /* border: 1px solid #f00; */
    /* background: #2e2f33; */
    /* width: 542px; */
    /* min-height: 127px; */
}

[data-text="otc-newly-added-protocol-text"] {
    font-weight: normal;
}


/* HC & no text-outline */

.highcharts-text-outline {
    display: none !important;
}