@charset "UTF-8";

/* transactions-leaderboard-make-market */


/* commons-title */


/* commons-title */


/*

.otc-h5dnd-modules-title-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
}

.otc-h5dnd-modules-title {
    position: relative;
    color: #000;
    text-indent: 15px;
    margin-left: 0;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.otc-h5dnd-modules-title::before {
    position: absolute;
    top: 0px;
    left: 0;
    content: "";
    display: inline-block;
    border: 2px solid #f79530;
    width: 0;
    height: 16px;
} */

[data-uid="transactions-leaderboard-make-market"] {
    float: left;
    /* margin: 5px; */
}

* {
    box-sizing: border-box;
}

.otc-transactions-leaderboard-make-market-table-box {
    box-sizing: border-box;
    width: 540px;
    height: auto;
    /* background: #ccc; */
}


/* table */

[data-table="otc-table-transactions-leaderboard-make-market"] {
    /* width: 542px; */
    /* width: 100%; */
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    font-weight: normal;
    /* overflow: hidden; */
}


/* th */

[data-table-th="otc-table-th-transactions-leaderboard-make-market"] {
    font-size: 18px;
    /* text-align: left; */
    /* background-color: #666; */
    box-sizing: border-box;
}


/* th a link */

[data-table-th-link="otc-table-th-link-transactions-leaderboard-make-market"] {
    box-sizing: border-box;
    /* text-align: right; */
    font-size: 13px;
    padding: 0;
}


/* tr */

[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"] {
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* text-align: right; */
    text-align: center;
}

[data-table-body="otc-table-body-transactions-leaderboard-make-market"]>tr:nth-of-type(1) {
    /* text-align: left; */
    text-align: center;
}


/* td */

tr[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>td[data-td-key="otc-td-no-key"]:nth-of-type(1),
tr[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>td[data-td-key="otc-td-no-key"]:nth-of-type(2) {
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
    /* width: calc(1*100px); */
    width: 130px;
    max-width: 130px;
    min-width: 130px;
    line-height: 23px;
    height: 23px;
}

tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-of-type(1),
tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-of-type(2),
tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-of-type(3) {
    /* color: red; */
    font-size: 13px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    width: 130px;
    max-width: 130px;
    min-width: 130px;
    line-height: 23px;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-of-type(4) {
    max-width: 150px;
    min-width: 148px;
    width: auto;
}

tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-of-type(1),
tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-of-type(2) {
    text-align: left;
    padding-left: 4px;
}

tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-last-of-type(1),
tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]>td[data-td-value="otc-td-value-TLMM"]:nth-last-of-type(2) {
    text-align: right;
    padding-right: 4px;
}

[data-table-body="otc-table-body-transactions-leaderboard-make-market"]>tr[data-table-tbody-tr="otc-table-tbody-tr-transactions-leaderboard-make-market"]:nth-of-type(2n) {
    /* background: #f5f5f5; */
}

[data-td="otc-cols-span"] {
    width: calc(2*100px);
}


/* data-td-value="otc-td-value-TLMM" */

table,
tr,
td {
    margin: 0;
    padding: 0;
}


/* sort table */

[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-of-type(1),
[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-of-type(2),
[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-of-type(3) {
    border-right: 1px solid #ccc;
}

[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-of-type(n) {
    text-align: center;
    padding: 6px;
}

[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-last-of-type(1),
[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-last-of-type(2) {
    cursor: pointer;
}

[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-last-of-type(1)::after,
[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-last-of-type(2)::after {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 17px;
    content: url("../img/arrow-white.png");
    /* content: ": ↕️"; */
    /* content: "↕ U+2195"; */
    /* ↕ U+2195 */
    /* color: #fff; */
    /* background: red; */
    margin-left: 10px;
}


/* [data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-last-of-type(1) {
    background: 110px 25px url("../img/arrow-white.png") no-repeat;
}

[data-table-tr="otc-table-tr-transactions-leaderboard-make-market"]>th:nth-last-of-type(2) {
    background: 70px 25px url("../img/arrow-white.png") no-repeat;
} */


/* table head */


/* .otc-td-key::after {
    content: ":";
}

[data-td-key="otc-td-no-key"] {
    content: "";
    border-right: 1px solid #ccc;
} */

th[data-td-key="otc-td-key-TLMM"] {
    color: #bbc1c7;
}