@charset "UFT-8";

/* company-performance-achievement */

html,
body,
section,
div,
p {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[data-hs-container="data-company-performance-achievement-container-uid"] {
    box-sizing: border-box;
    border: 1px solid #e4e6ea;
    border-top: none;
    min-height: 300px;
    height: 100%;
}

#company_performance_achievement_hs_container2 {
    border-top: 1px solid #e4e6ea;
    margin-top: 10px;
}


[no-data-hs-container="no-data-company-performance-achievement-container-uid"] {
    display: none;
    border: 0;
    height: 0;
    margin-top: 0;
}

[data-hs-title="data-company-performance-achievement-title-uid"] {
    box-sizing: border-box;
    /* border: 1px solid #e4e6ea; */
    background: #fffce9;
    /* padding-left: 8px; */
    height: 100%;
    margin-top: 10px;
}

[data-p="company-performance-achievement-p"] {
    box-sizing: border-box;
    height: 23px;
    line-height: 23px;
    border: 1px solid #e4e6ea;
    padding-left: 8px;
}

[data-span="company-performance-achievement-span"] {
    /* color: red; */
}


/* section.otc-module-box-5 {
    box-sizing: border-box;
    float: left;
    width: 530px;
} */

table.otc-company-performance-achievement-table {
    box-sizing: border-box;
    width: 530px;
    max-width: 530px;
    min-width: 530px;
    /* height: 127px; */
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    /* font-size: 12px; */
    font-size: 12px;
    font-weight: normal;
    color: #4d4d4d;
}


/* font height & 0.5px * 2 ??? */

tr.otc-company-performance-achievement-table-tr {
    box-sizing: border-box;
    height: 23px;
    line-height: 23px;
}

[data-title-text="otc-company-performance-achievement-title-text"] {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: normal;
}

td.otc-company-performance-achievement-table-td-key {
    box-sizing: border-box;
    color: #4d4d4d;
    background: #e8eefa;
    /* font-size: 12px; */
    font-size: 12px;
    width: 112px;
    min-width: 112px;
    max-width: 112px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    text-indent: 4px;
}

td.otc-company-performance-achievement-table-td-value {
    box-sizing: border-box;
    width: 158px;
    min-width: 158px;
    max-width: 158px;
    /* font-size: 12px; */
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    text-align: right;
    padding-right: 7px;
}

tbody.otc-company-performance-achievement-table-tbody>tr {
    /* background: #fff; */
    background: #f5f5f5;
}

tbody.otc-company-performance-achievement-table-tbody>tr:nth-of-type(2n) {
    /* background: #f5f5f5; */
    background: #fff;
    border: 1px solid #e9e9e9;
}

tbody.otc-company-performance-achievement-table-tbody>tr:nth-of-type(1) {
    border-top: 1px solid #d7dbe0;
}

tbody.otc-company-performance-achievement-table-tbody>tr:nth-of-type(5) {
    border-bottom: 1px solid #d7dbe0;
}

tr.otc-company-performance-achievement-table-tr>td:nth-of-type(1) {
    border-left: 1px solid #d7dbe0;
    border-right: 1px solid #c5d2db;
    border-bottom: 1px solid #c5d2db;
}

tr.otc-company-performance-achievement-table-tr>td:nth-of-type(2) {
    border-right: 1px solid #d7dbe0;
}


/* tr.otc-company-performance-achievement-table-tr>td:nth-of-type(3) {
    border-left: 1px solid #c5d2db;
    border-right: 1px solid #c5d2db;
    border-bottom: 1px solid #c5d2db;
}

tr.otc-company-performance-achievement-table-tr>td:nth-of-type(4) {
    border-right: 1px solid #d7dbe0;
} */

[data-link="otc-company-performance-achievement-link"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    margin-right: 54px;
    float: right;
    margin-top: 3px;
}

[data-link="otc-company-performance-achievement-link"]>a:hover {
    color: #f50;
}


/* new table */

[data-div="tbody-div"] {
    box-sizing: border-box;
    background: #fffce9;
    border: 1px solid #d7dbe0;
    /* min-height: 46px; */
    /* line-height: 23px; */
    /* font-size: 14px; */
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 8px;
}

[data-div="tbody-div"]>p:nth-of-type(1) {
    color: #616a87;
    font-weight: bold;
}

[data-div="tbody-div"]>p:nth-of-type(2) {
    color: #616a87;
    /* font-size: 12px; */
    font-size: 12px;
}

[data-space="tr-space"] {
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    height: 10px;
}

[data-title="td-colspan"] {
    box-sizing: border-box;
    background: #fff;
    color: #616a87;
    font-weight: bold;
    /* padding-left: 4px; */
    width: 100%;
    line-height: 23px;
}

[data-title="td-colspan"]>span:nth-of-type(n) {
    margin-left: 5px;
}


/* [data-title-span="td-colspan-span"] */


/* .otc-module-box-5 {
    margin: 0 50%;
    transform: translateX(-50%);
    display: block;
    width: 100vw;
    height: 100;
} */


/* xxx */

.otc-h5dnd-modules-title-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 530px;
}

.otc-h5dnd-modules-title {
    position: relative;
    color: #2e2f33;
    text-indent: 14px;
    margin-left: 0;
    font-weight: 600;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 5px;
    font-family: "MicroSoft YaHei", sans-serif, serif;
}

.otc-h5dnd-modules-title::before {
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 4px;
    background: #f79530;
    height: 15px;
}

[data-delete-span="delete-span"] {
    font-weight: normal;
}

* {
    font-family: SimSun, serif;
    font-size: 12px;
}

[data-display="display-none"] {
    display: none;
}