@charset "UTF-8";

/* HS scrollbar */

@import url("./common/hs-scrollbar.css");

/* scrollbar */

@import url("./common/scrollbar.css");

/* date-picker */

@import url("./common/date-picker.css");

/* excel */

@import url("./common/export-excel.css");

/* common css */

@import url("./common/reset.css");
@import url("./common/module.css");
@import url("./common/font-family.css");

/* @import url("./common/modal.css"); */

@import url("./common/modules-title.css");
@import url("./common/modules-link.css");

/* @import url('./common/reset.css');@import url("../common/module.css"); */


/* @import url("./hs-scrollbar.css"); */


/* sweetalert btn color */

.warning-alert-style {
    /* color: #0f0 !important; */
    /* background: #fd1f1fd0; */
    background: #ffffff;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.swal-title {
    color: #000;
}

.swal-text {
    color: #fd1f1fd0;
}

table tr>td {
    color: #bbc1c7;
}

[data-delete-module-uid*="delete-module"] {
    max-width: 100px;
    width: 100px;
    /* float: left; */
}

.h5-dnd-nav-container {
    overflow-y: scroll;
    overflow: hidden;
    box-sizing: border-box;
    width: 238px;
    /* height: 223px; */
    height: 100vh;
    /* height: 100%; */
    /* min-height: 1000px; */
    margin: 0px;
    padding: 0px;
    border: 1px solid #4a4c4f;
}

.h5-dnd-nav-container .h5-dnd-nav-box {
    clear: both;
    box-sizing: border-box;
    /* width: 300px; */
    width: 238px;
    background: #25292e;
    /* height: 200px; */
    background: #ccc;
    /* float: left; */
    /* overflow: hidden; */
    margin: 0px;
    padding: 0px;
}


/* hover & `dispaly: block;` */

nav.h5-dnd-nav-container>ul.h5-dnd-nav-ul {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul.h5-dnd-nav-ul>li {
    float: left;
    list-style: none;
    background: #ccc;
    /* border: 1px solid red; */
    box-sizing: border-box;
    /* width: 100px; */
    width: 78.671px;
    /* (238) /3 = 79.333...*/
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 14px;
}

ul.h5-dnd-nav-ul>li:nth-of-type(n):hover {
    /* border: 1px solid red; */
    /* background: #fff; */
    display: inline-block;
    box-sizing: border-box;
}

ul.h5-dnd-nav-ul>li>a {
    text-decoration: none;
    margin: auto 5px;
    /* color: #2e2f33; */
    color: #fff;
}

ul.h5-dnd-nav-ul>li:nth-of-type(1) {
    border: 1px solid #c9cdd1;
    border-left: none;
    border-top: 0;
    border-right: 0px;
    box-sizing: border-box;
}

ul.h5-dnd-nav-ul>li:nth-of-type(2) {
    border: 1px solid #4a4c4f;
    border-top: 0;
    border-right: 0px;
    box-sizing: border-box;
}

ul.h5-dnd-nav-ul>li:nth-of-type(3) {
    border: 1px solid #4a4c4f;
    border-top: 0;
    border-right: none;
    box-sizing: border-box;
}

ul.h5-dnd-nav-ul>li.no-bottom-margin {
    border-bottom: 0px !important;
}

ul.h5-dnd-nav-ul>li.add-bottom-margin {
    border-bottom: 1px solid #4a4c4f !important;
}

ul.h5-dnd-nav-ul>li.h5-dnd-nav-li-active {
    /* background: rgb(1, 237, 245); */
    background: #1c2024;
    border: 1px solid #1c2024;
    color: #bbc1c7;
}

ul.h5-dnd-nav-ul>li.h5-dnd-nav-li-hidden {
    /* background: rgb(1, 237, 245); */
    background: #31373d;
    color: #bbc1c7;
}

ul.h5-dnd-nav-ul>li:hover {
    /* background: #fff; */
}

.h5-dnd-nav-container .h5-dnd-nav-box-active {
    display: block;
}

.h5-dnd-nav-container .h5-dnd-nav-box-hidden {
    display: none;
}


/* btn */

.h5-dnd-nav-btn {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    height: 18px;
    line-height: 18px;
    background: #404a52;
    /* border: 1px solid #d4e7fc; */
    border: 1px solid #4a4c4f;
    cursor: pointer;
    text-align: center;
}

.h5-dnd-nav-btn-height {}

.h5-dnd-nav-btn::before {
    content: url("../img/icons/btn-icon.png");
    width: 10px;
    height: 9px;
    line-height: 9px;
    margin: auto;
    margin-top: 3px;
    display: block;
    /* background-color: #fff; */
}

.h5-dnd-icon-box:hover {
    background: #31373d;
    border: 1px solid #707070;
}

[data-nav-li="nav-li"] {
    background: #f2f2f2;
    /* border: 1px solid #c9cdd1; */
}

[data-nav-li="nav-li"]:hover {
    background: #fff;
    /* border: 1px solid #c9cdd1; */
}

[data-nav-box="nav-box"]>.h5-dnd-module-container {
    background: #1c2024;
    /* border-bottom: 0; */
    box-sizing: border-box;
}

[data-nav-box="nav-box"]>.h5-dnd-template-container {
    background: #1c2024;
    /* border: 0, 1px solid #c9cdd1; */
    border-top: 0;
    /* border-bottom: 0; */
    box-sizing: border-box;
}


/* btn-icon.png */


/*

div.h5-dnd-nav-box:nth-of-type(n) {
    background: rgb(247, 8, 187);
}

ul.h5-dnd-nav-ul>li:nth-of-type(n):hover~div.h5-dnd-nav-box:nth-of-type(n) {
    background: rgb(8, 247, 8);
}

*/


/* icons */

.h5-dnd-icon-container {
    /* border: 1px solid #777; */
    box-sizing: border-box;
    /* absolute center */
    width: 238px;
    /* 8,10,8 + 8 */
    /* 270 + 10 */
    min-height: 300px;
    /* this box can't overflow parent box, in case overfolw hidden bug! */
    background: #1c2024;
    height: calc(100vh - 41px);
    /* height: 1000px; */
    overflow-y: scroll;
}

.h5-dnd-nav-container-normal {
    /* width: 240px !important; */
    width: 238px;
}

.h5-dnd-nav-container-small {
    width: 0px;
    /* width: 10px !important; */
    display: none;
}

.h5-dnd-nav-small-btn {
    /* position: absolute; */
    /* top: 0; */
    position: relative;
    margin: 0;
    padding: 0;
    /* margin-right: 8px; */
    float: left;
    box-sizing: border-box;
    height: 100vh;
    width: 8px;
    background: #131618;
}

.h5-dnd-nav-small-btn-show {
    width: 10px;
    display: block;
}

.h5-dnd-nav-small-btn-hidden {
    width: 0px;
    display: none;
}

[data-nav-small-btn="nav-small-btn"] {
    display: block;
    box-sizing: border-box;
    height: 100px;
    width: 10px;
    background: #212529;
    cursor: pointer;
    /* margin-top: 50%; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

[data-nav-small-btn="nav-small-btn"]:hover {
    /* background: #d4e7fc; */
    background: #3d454d;
    border-right: 1px solid #3d454d;
}

[data-nav-small-btn="nav-small-btn"]::before {
    content: url("../img/icons/btn-icon.png");
    width: 10px;
    height: 9px;
    /*
    background: #f0f;
    width: 80%;
    height: 80%;
    */
    line-height: 9px;
    margin: auto;
    display: block;
    position: absolute;
    margin-top: 50px;
    transform: translateY(-50%);
}


/* scrollbar width 10*/

.h5-dnd-icon-container::-webkit-scrollbar {
    width: 8px;
    /* width: 8px; */
    /* scrollbar width */
    box-sizing: border-box;
}

.h5-dnd-icon-container::-webkit-scrollbar-thumb {
    /* border-radius: 8px; */
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    /* background-color: #555; */
    /* #e3e4e6; */
    background-color: #ccc;
    /* background-color: rgba(244, 249, 255, 1); */
}

.h5-dnd-icon-container::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
    cursor: pointer;
}

.h5-dnd-icon-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* border-radius: 10px; */
    /* background-color: #ccc; */
    background-color: #404a52;
}

.h5-dnd-icon-box {
    box-sizing: border-box;
    border: 1px solid #474747;
    background: #25292e;
    width: 102px;
    height: 108px;
    /* min-width: 80px;
    min-height: 100px;
    max-width: 100px;
    max-height: 108px; */
    float: left;
    margin: 6px;
    cursor: default;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 5px;
}


/* odd === 1,3,5,7,9 */

div.h5-dnd-icon-box:nth-of-type(2n) {
    /* margin-right: 10px; */
}


/* even === 0,2,4,6,8 */

div.h5-dnd-icon-box:nth-of-type(2n+1) {
    /* margin-left: 10px; */
}


/* there is not exist `:nth-of-type(0)` ??? */

div.h5-dnd-icon-box:nth-of-type(1),
div.h5-dnd-icon-box:nth-of-type(2) {
    margin-top: 12px;
    /* background: #0ff; */
}

div.h5-dnd-icon-box:nth-of-type(0) {
    /* background: #f0f; */
}


/* .h5-dnd-icon-box:nth-of-type(2),
.h5-dnd-icon-box:nth-of-type(3) {
    margin-top: 5px;
} */

.h5-dnd-icon-p {
    box-sizing: border-box;
    text-align: center;
    margin-top: 66px;
    position: relative;
    font-size: 12px;
    color: #bbc1c7;
    line-height: 16px;
    height: 16px;
    padding-left: 7px;
    padding-right: 7px;
    word-break: break-all;
    overflow-wrap: break-word;
}

.h5-dnd-icon-p::before {
    content: "no icon!";
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    /* top: -58px; */
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}


/* handle special case, word-break: break-all; */

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(6)>p.h5-dnd-icon-p {
    padding-left: 9px;
    padding-right: 9px;
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(17)>p.h5-dnd-icon-p {
    padding-left: 9px;
    padding-right: 9px;
}


/* background */

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(1)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/repurchase-interest-rates.png");
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(2)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/cs-interbank-dismantle-borrowing-interest-rates.png");
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(3)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/shibor-interbank-dismantle-borrowing-interest-rates.png");
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(4)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/central-bank-benchmark-interest-rates.png");
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(5)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/repurchase-set-interest-rates.png");
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(6)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/seven-days-repurchase-moving-average-interest-rates.png");
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(7)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/bills-directly-indirect-subsidy-interest-rates.png");
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(8)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/debt-capital-market-pricing-central-hub.png");
}


/* 8 chinese-debt */

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(9)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/treasury-bonds-profitability.png"); */
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(10)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/corporate-debt-aaa-profitability.png"); */
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(11)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/national-policy-driven-financial-debt-profitability.png"); */
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(12)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/commercial-banks-aaa-profitability.png"); */
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(13)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/medium-short-term-bills-aaa-profitability.png"); */
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(14)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/city-investment-debt-aaa-profitability.png"); */
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(15)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/local-governments-debt-aaa-profitability.png"); */
}

.h5-dnd-icon-container>div.h5-dnd-icon-box:nth-child(16)>p.h5-dnd-icon-p::before {
    content: url("../img/icons/chinese-debt.png");
    /* content: url("../img/icons/central-bills-profitability.png"); */
}


/* h5-dnd-header-container */

.h5-dnd-header-container {
    box-sizing: border-box;
    float: left;
}


/* h5-dnd-body-container */

.h5-dnd-body-container {
    box-sizing: border-box;
    /* width: calc(100% - 238px); */
    height: 100vh;
    overflow-y: scroll;
    /* rollback */
    /* min-width: 400px; */
    /* min-height: 300px; */
    margin: 0;
    padding: 0;
    background: #000;
    float: left;
}

.h5-dnd-body-container-small {
    width: calc(100% - 238px);
}

.h5-dnd-body-container-big {
    width: calc(100% - 10px);
    /* margin: 0 auto; */
}


/* [data-body-container="data-body-container"] */

.h5-dnd-template-container,
.h5-dnd-module-container {
    /* border: 1px solid #777; */
    box-sizing: border-box;
    width: 238px;
    min-height: 300px;
    height: calc(100vh - 41px);
    /* height: 1000px; */
    /* background: #ccc; */
    background: rgba(244, 249, 255, 1);
    /* overflow-y: scroll; */
    /* float: left; */
}

.h5-dnd-template-box,
.h5-dnd-module-box {
    border: 1px solid #474747;
    background: #25292e;
    box-sizing: border-box;
    width: 102px;
    height: 108px;
    float: left;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

div.h5-dnd-template-box:nth-of-type(1),
div.h5-dnd-template-box:nth-of-type(2) {
    margin-top: 12px;
}

div.h5-dnd-template-box:nth-of-type(1) {
    margin-right: 5px;
}

div.h5-dnd-template-box:nth-of-type(2) {
    margin-left: 5px;
}


/* CSS ??? div.h5-dnd-module-box */

div.h5-dnd-module-box:nth-of-type(1) {
    /* margin: 12px 50%; */
    /* transform: translateX(-50%); */
}


/* left */

.h5-dnd-template-p,
.h5-dnd-module-p {
    box-sizing: border-box;
    text-align: center;
    margin-top: 66px;
    position: relative;
    /* position: absolute; */
    font-size: 12px;
    color: #bbc1c7;
    line-height: 16px;
    height: 16px;
    padding-left: 7px;
    padding-right: 7px;
    word-break: break-all;
    overflow-wrap: break-word;
}

.h5-dnd-template-p::before,
.h5-dnd-module-p::before {
    content: "no icon!";
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    /* top: -58px; */
    bottom: 26px;
    left: 31px;
    box-sizing: border-box;
}

.h5-dnd-template-container>div.h5-dnd-template-box:nth-child(1)>p.h5-dnd-template-p::before {
    content: url(../img/icons/universal.png);
}

.h5-dnd-template-container>div.h5-dnd-template-box:nth-child(2)>p.h5-dnd-template-p::before {
    content: url(../img/icons/customize.png);
}


/* data-uid="module-setting" */

.h5-dnd-module-container>div.h5-dnd-module-box:nth-child(1)>p.h5-dnd-module-p::before {
    content: url(../img/icons/customize.png);
}


/* css3-attr-selector-test */

.css3-attr-selector-test {
    text-align: center;
    /* align: left; */
    /* [css] Unknown property. */
}

[data-body-container="data-body-container"] {
    margin: 0px auto !important;
}


/* [data-delete-icon="delete-icon"] {
    width: 23px;
    height: 23px;
} */

[data-delete-icon="delete-icon"] {
    width: 100px;
    height: 23px;
    float: right;
    top: -2px;
    position: absolute;
    right: 100px;
    cursor: pointer;
    /* display: inline-block; */
    background: #f0f;
}

[data-delete-span="delete-span"] {
    text-indent: 20px;
    font-size: 13px;
    width: 55px;
    height: 20px;
    line-height: 20px;
    float: right;
    display: block;
    position: absolute;
    top: 1px;
    right: -10px;
    cursor: pointer;
    background: url("../img/icons/delete-icon.png") 0px 2px no-repeat;
    /* background: #f0f; */
    box-sizing: border-box;
    color: #bbc1c7;
}


/* ??? ::before */

[data-delete-span="delete-span"]:hover {
    /* background: url("../img/icons/delete-icon.png") 3px 2px #f00 no-repeat; */
    /* new image highlight */
    color: red;
}


/* height bug! */

[data-div-inner-box="data-div-inner-box"] {
    box-sizing: border-box;
    /* width: calc((540px + 10px) * 2); */
    width: 1120px;
    /* width: calc(542px + 6px * 2); */
    /* float: left; */
    /* background-color: rgb(240, 180, 240);
    border: 1px solid #eee; */
    min-height: 100vh;
    height: auto;
    margin: 0px auto;
    /* margin-right: 0; */
    padding-top: 9px;
    padding-bottom: 9px;
    /* padding: 0; */
    /* padding-right: 100px; */
    /* overflow-y: scroll; */
}

[data-sortable-box*="sortable-box"] {
    box-sizing: border-box;
    /* width: calc(540px + 10px * 2); */
    width: 560px;
    float: left;
    background-color: #000;
    /* background-color: rgb(240, 180, 240); */
    /* border: 1px solid #eee; */
    /* min-height: 100vh; */
    min-height: 2456px;
    height: auto;
    padding: 0;
    padding-left: 10px;
    padding-bottom: 50px;
}

.absolute-center-placeholder {
    background-color: #ccc !important;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 300px;
    /* transform: translateY(50%); */
}


/*

.otc-important-infos-title-box:hover {
    cursor: move;
}

*/


/* .otc-module-box-3>div:nth-of-type(1):hover,
.otc-module-box-5>div:nth-of-type(1):hover,
.otc-module-box-7>div:nth-of-type(1):hover,
.otc-module-box-10>div:nth-of-type(1):hover {
    cursor: move;
} */


/* .otc-module-box-5>div:nth-of-type(1):hover {
    cursor: move;
} */

div.otc-h5dnd-modules-title-box {
    cursor: move;
}

[data-link*="otc-"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    float: right;
    margin-top: 3px;
}

[data-link*="otc-"]>a:nth-of-type(1) {
    margin-right: 54px;
}


/* overwrite */

tr[data-space="tr-space"] {
    box-sizing: border-box;
    background: #000;
    width: 100%;
    height: 10px;
}

td[data-title="td-colspan"] {
    box-sizing: border-box;
    background: #000;
    color: #616a87;
    font-weight: bold;
    width: 100%;
    line-height: 23px;
}


/* new plugins */

[data-plugins="h5-dnd-timepicker-container"] {
    box-sizing: border-box;
    background: #31373d;
    margin: 0 auto;
    height: 34px;
    line-height: 34px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    padding-left: 10%;
    color: #bbc1c7;
}

[data-plugins="h5-dnd-timepicker-container"]>input {
    color: #fff;
    border-color: #adc0d3;
    background: #3285ff;
}