.drag {
    width: 100px;
    height: 100px;
    background: blue;
    display: inline-block;
    /* margin-right: 10px;*/
    float: left;
    /* cursor: move; */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}


/* .drag:hover {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
} */

#boxA {
    background: #0f0;
}

#boxB {
    background: #f0f;
    margin-right: 0px;
}

#boxC {
    background: #1C04F1;
    margin-right: 0px;
}

#boxD {
    background: rgb(43, 255, 0);
    margin-right: 0px;
}

#big {
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    background: #ccc;
    margin: 10px auto;
    padding: 5px;
    float: left;
}

.section {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: #737;
    margin: 5px auto;
    float: left;
}

.drop-box {
    background: #ccc;
    margin: 0;
    float: left;
    width: 400px;
    height: 400px;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.flash-error {
    color: rgb(134, 24, 29);
}