@charset "UTF-8";

/* transaction-overview */


/* commons-title */

section.otc-module-box-5 {
    box-sizing: border-box;
    float: left;
    width: 540px;
}

.otc-h5dnd-modules-title-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
}

.otc-h5dnd-modules-title {
    position: relative;
    color: #2e2f33;
    text-indent: 14px;
    margin-left: 0;
    font-weight: 600;
    font-size: 15px;
    font-family: "MicroSoft YaHei", sans-serif, serif;
    margin-top: 6px;
    margin-bottom: 5px;
}

.otc-h5dnd-modules-title::before {
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 4px;
    background: #f79530;
    height: 15px;
}


/* table */

[data-table="otc-table-transaction-overview"] {
    /* width: 542px; */
    /* width: 100%; */
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    font-weight: normal;
    /* overflow: hidden; */
}

[data-table-tr="otc-table-tr-transaction-overview"] {
    box-sizing: border-box;
    width: 540px;
}

[data-table-tr="otc-table-tr-transaction-overview"]>td:nth-of-type(1) {
    width: 150px;
    max-width: 150px;
}


/* th */

[data-table-th="otc-table-th-transaction-overview"] {
    font-size: 18px;
    text-align: left;
    /* background-color: #666; */
    box-sizing: border-box;
}


/* table head */

.otc-td-key-TO::after {
    content: ":";
}

[data-td-key="otc-td-no-key"] {
    content: "";
    border-right: 1px solid #ccc;
}


/* th a link */

[data-table-th-link="otc-table-th-link-transaction-overview"] {
    box-sizing: border-box;
    text-align: right;
    font-size: 13px;
    padding: 0;
}


/* tr */

[data-table-tr="otc-table-tr-transaction-overview"] {
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
}

[data-table-body="otc-table-body-transaction-overview"]>tr:nth-of-type(1) {
    /* text-align: left; */
    /* text-align: center; */
}

[data-table-body="otc-table-body-transaction-overview"]>tr>td:nth-of-type(n+2) {
    /* text-align: left; */
    /* text-align: center; */
    /* color: red; */
    padding-right: 4px;
}

[data-td-key="otc-td-key-TO"] {
    background-color: #e8eefa;
}

[data-td-key="otc-td-no-key"] {
    background-color: #e8eefa;
}


/* td */

[data-td-key="otc-td-key-TO"] {
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
    /* width: calc(1*100px); */
    width: 130px;
    max-width: 130px;
    line-height: 23px;
    height: 23px;
}

tbody[data-table-body="otc-table-body-transaction-overview"]>tr>td[data-td-key="otc-td-key-TO"] {
    text-align: left;
    padding-left: 4px;
}

[data-td-value="otc-td-value-TO"] {
    /* color: red; */
    font-size: 13px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    width: 130px;
    max-width: 130px;
    line-height: 23px;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[data-td="otc-cols-span"] {
    width: calc(2*100px);
}


/* data-td-value="otc-td-value" */

table,
tr,
td {
    margin: 0;
    padding: 0;
}