/*Position and set the opacity of the modal box*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    /*Set the opacity transition will be used by older browsers that don't support 3D transforms*/
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}


/*Styling the inner box of the modal box*/

.modal div {
    width: 50%;
    background: #fff;
    position: relative;
    margin: 10% auto;
    box-shadow: 0px 2px 5px #222;
    -moz-box-shadow: 0px 2px 5px #222;
    -webkit-box-shadow: 0px 2px 5px #222;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #f2f2f2;
    padding: 25px;
    /* Set the default animation*/
    -webkit-animation: minimise 500ms linear;
    -moz-animation: minimise 500ms linear;
    -ms-animation: minimise 500ms linear;
    -o-animation: minimise 500ms linear;
    animation: minimise 500ms linear;
}


/*Style the header of the modal box*/

.modal h2 {
    font-size: 2em;
    padding: 10px 0;
    text-align: center;
}


/*Style the close button inside the box*/

.close {
    text-align: center;
    display: block;
    color: #FF4444;
    font-size: 12px;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal:target>div {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -ms-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}


/*Setup the bounce animation*/


/* CSS Bounce Animation */

@keyframes bounce {
    0% {
        /*transform*/
        -webkit-transform: scale3d(0.1, 0.1, 1);
        -moz-transform: scale3d(0.1, 0.1, 1);
        -ms-transform: scale3d(0.1, 0.1, 1);
        -o-transform: scale3d(0.1, 0.1, 1);
        transform: scale3d(0.1, 0.1, 1);
        -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        -ms-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        -o-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08, 1.08, 1);
        -moz-transform: scale3d(1.08, 1.08, 1);
        -ms-transform: scale3d(1.08, 1.08, 1);
        -o-transform: scale3d(1.08, 1.08, 1);
        transform: scale3d(1.08, 1.08, 1);
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    }
    75% {
        -webkit-transform: scale3d(0.95, 0.95, 1);
        -moz-transform: scale3d(0.95, 0.95, 1);
        -ms-transform: scale3d(0.95, 0.95, 1);
        -o-transform: scale3d(0.95, 0.95, 1);
        transform: scale3d(0.95, 0.95, 1);
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        -ms-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        -o-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
}


/* CSS Minimise Animation */


/*Setup the minimise animation*/

@keyframes minimise {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    100% {
        -webkit-transform: scale3d(0.1, 0.1, 1);
        -moz-transform: scale3d(0.1, 0.1, 1);
        -ms-transform: scale3d(0.1, 0.1, 1);
        -o-transform: scale3d(0.1, 0.1, 1);
        transform: scale3d(0.1, 0.1, 1);
    }
}