@charset "UTF-8";

/* common css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    font-family: "Microsoft YaHei", sans-serif;
    /* font-family: Helvetica, Arial, san-serif; */
}


/* Modal CSS */

.scotch-overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1ms opacity ease;
    background: rgba(0, 0, 0, .6);
}

.scotch-content {
    /* border: 1px solid #616a87;
    border-left: 0;
    border-right: 0; */
    border: 0;
    background: #1c2024;
    min-height: 600px;
    min-width: 700px;
    height: 100%;
    /* height: 90%; */
    overflow-x: auto;
}

.scotch-modal {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 94%;
    /* height: 90%; */
    padding: 0;
    margin: 0;
    transition: 1ms opacity ease;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background: #fff;
}

.scotch-modal.scotch-open.scotch-anchored {
    top: 20px;
    transform: translate(-50%, 0);
}

.scotch-modal.scotch-open {
    opacity: 1;
}

.scotch-overlay.scotch-open {
    opacity: 1;
}


/* Close Button */

.scotch-close {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 7px 7px;
    cursor: pointer;
    color: #eee;
    border: 0;
    outline: none;
    /* background: #e74c3c; */
    background: #616a87;
}

.scotch-close:hover {
    /* background: #c0392b; */
    color: #fff;
}


/* Default Animation */


/* overlay */

.scotch-overlay.fade-and-drop {
    display: block;
    opacity: 0;
}

.scotch-overlay.fade-and-drop {
    transition: 500ms opacity 100ms ease;
    /* delay & slow */
}

.scotch-overlay.fade-and-drop.scotch-open {
    top: 0;
    opacity: 1;
    transition: 500ms opacity ease;
    /* no delay & fast */
}


/* modal */

.scotch-modal.fade-and-drop {
    top: -300%;
    opacity: 1;
    display: block;
}

.scotch-modal.fade-and-drop {
    transition: 500ms top ease;
}

.scotch-modal.fade-and-drop.scotch-open {
    top: 50%;
    /* top: 5%; */
    transition: 500ms top 100ms ease;
}

.scotch-modal.fade-and-drop.scotch-open.scotch-anchored {
    /* 20px; */
    transition: 500ms top 100ms ease;
}

.scotch-bug {
    top: 5%;
    transition: 500ms top 100ms ease;
}


/* Demo Styles */

* {
    box-sizing: border-box;
}

#content {
    display: none;
}

.trigger-button {
    font-size: 17px;
    position: relative;
    top: 100px;
    display: block;
    margin: auto;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #2ecc71;
    box-shadow: 0 5px 1px #27ae60;
}

.trigger-button:hover {
    background: #27ae60;
    box-shadow: 0 5px 1px #145b32;
}

.trigger-button:active {
    border-top: 5px solid white;
    box-shadow: none;
}


/* trigger-link */

.trigger-link {
    font-size: 12px;
    position: relative;
    width: 100px;
    height: 23px;
    line-height: 23px;
    display: block;
    margin: 3px;
    padding: 1.5px;
    cursor: pointer;
    color: #000;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #2ecc71;
    box-shadow: 0 3px 3px #27ae60;
    float: left;
    text-align: center;
    /* vertical-align: middle; */
    text-decoration: none;
}

.trigger-link:hover {
    background: #27ae60;
    box-shadow: 0 3px 3px #145b32;
}

.trigger-link:active {
    border-top: 3px solid white;
    box-shadow: none;
}

ul>li {
    list-style: none;
}


/* modal line */


/*

<hr data-modal="line" />

hr[data-modal="line"] {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    background: crimson;
}
*/


/* modal title */

div[data-modal="title-box"] {
    border-bottom: 1px solid #b8b8b8;
    padding: 0;
    margin: auto 20px;
    background: #1c2024;
    min-width: 680px;
}

div[data-modal="title-box"]::after {
    display: block;
    clear: both;
    content: "";
}


/* close */

a[data-modal="close"] {
    color: #fff;
    background: #616a87;
}

div[data-modal="modal-title"] {
    background: #616a87;
    /* border-bottom: 1px solid #edeeee; */
    height: 35px;
    line-height: 35px;
    color: #fff;
    /* cursor: move; */
}

div[data-modal="modal-title"]>h1 {
    font-size: 14px;
    margin-left: 10px;
}


/* title */

div[data-modal="title"] {
    /* background: coral; */
    background: #1c2024;
    width: 100%;
}

div[data-modal="title"]>h3 {
    text-align: center;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 5px;
    color:  #fff;
}


/* modal content */

div[data-modal="content"] {
    box-sizing: border-box;
    min-height: 500px;
    /* min-height: 750px; */
    /* min-height: 80%; */
    max-height: 888px;
    height: auto;
    width: 100%;
    /* min-width: 600px; */
    margin: auto;
    padding: 10px;
    overflow: auto;
    /* overflow-x: hidden; */
    background: #1c2024;
    color: #fff;
}

div[data-modal="content"]>p {
    /* min-width: 700px; */
    line-height: 30px;
    height: 30px;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 12px;
    /*     background: #fff; */
    background: #f0f;
    color: #fff;
    /* text-align: left; */
    /* text-indent: 2em; */
}

div[data-modal="content"]>div {
    /* min-width: 700px; */
    line-height: 30px;
    height: 30px;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 12px;
    background: #1c2024;
    color: #fff;
    /* text-align: left; */
    /* text-indent: 2em; */
}


/* model info */

div[data-modal="info"] {
    /* background: chartreuse; */
    background: #1c2024;
    color:  #fff;
    float: left;
    min-width: 500px;
    /* width: 70%; */
    width: calc(100% - 150px);
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
}

div[data-modal="info"]>p {
    margin: 0;
    line-height: 30px;
    height: 30px;
    /* min-height: 500px; */
    /* height: 100%; */
    /* max-height: 800px; */
    font-size: 12px;
    /* padding-left: -150px; */
    text-align: left;
    padding-left: calc(50% - 200px);
}

div[data-modal="info"]>p>a {
    text-decoration: none;
    margin-left: 10px;
    color: #5389d2;
    cursor: pointer;
    background-color: transparent;
}


/* font */

div[data-modal="modal-font"] {
    /* background: cyan; */
    background: #1c2024;
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    /* width: 30%; */
    line-height: 30px;
    height: 30px;
    float: left;
}

div[data-modal="modal-font"]>p>span.fontBtn>a {
    cursor: pointer;
}

a[data-modal-font="data-font-big"] {
    cursor: pointer;
}

span.fontBtn {
    width: 24px;
    height: 22px;
    display: inline-block;
    border: 1px solid #ccc;
    background: #000;
    line-height: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

span.fontBtn.active {
    background: #2196F3;
    color: #fff;
}

.fontBtn a {
    width: 24px;
    height: 22px;
    display: inline-block;
}

span.fontBtn>a:hover {
    background: #2196F3;
    color: #fff;
}


/* font-size */

.fontsize-big {
    font-size: 23px;
}

.fontsize-middle {
    font-size: 18px;
    /* font-size: 18px !important; */
}

.fontsize-small {
    font-size: 12px;
}

div[data-modal="content"].fontsize-big>div {
    font-size: 18px;
}

div[data-modal="content"].fontsize-middle>div {
    font-size: 14px;
}

div[data-modal="content"].fontsize-small>div {
    font-size: 12px;
}


/* custom-animation */

.scotch-modal.custom-animation {
    -webkit-transition: 1ms -webkit-transform ease;
    -moz-transition: 1ms -moz-transform ease;
    -ms-transition: 1ms -ms-transform ease;
    -o-transition: 1ms -o-transform ease;
    transition: 1ms transform ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.scotch-modal-custom-animation.scotch-open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/*

var myModal = new Modal({
    className: 'custom-animation',
    content: '<p>Ken Wheeler is strikingly handsome.</p>',
    maxWidth: 600
});

myModal.open();



*/