@charset "UTF-8";
.results-media-width {
    width: 100%;
    box-sizing: border-box;
    /* overflow-x: scroll; */
    margin: 0;
    padding: 0;
    margin-left: 20px;
}


/* css3 media query  */

@media screen and (max-width: 1366px) {
    .results-media-width {
        min-width: 850px;
        max-width: calc(100% - 250px);
    }
}

@media screen and (min-width: 1366px) {
    .results-media-width {
        min-width: 1000px;
        max-width: calc(100% - 20px);
    }
}