[data-link="cell-a"] {
    /* color: #f00; */
    color: #f00 !important;
}


/* max-width: 100px; */

[data-link="cell-span"] {
    box-sizing: border-box;
    display: inline-block;
    color: #00f;
    border-bottom: 1px solid #17f;
    cursor: pointer;
    text-align: center;
}

[data-link="cell-span"]:hover {
    color: #f0f;
    cursor: pointer;
}

[data-img="cel-img"],
[data-img="cel-img"]:hover {
    cursor: pointer;
}

[data-mock-link="mock-link"] {
    color: #00f;
    cursor: pointer;
}

[data-mock-link="mock-link"]:hover {
    color: #0f0;
    text-decoration: underline;
}


/*  */

table.sortable thead {
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    cursor: default;
}

* {
    box-sizing: border-box;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

#changed_projects_table {
    display: none;
}


/* table */

table[data-table="changed-projects"] {
    width: 100%;
    /* 去除table每行之间的空白间隙 */
    border-collapse: collapse;
    border-spacing: 0;
    /* border-collapse: separate; */
    /* border-spacing: 1px */
    /* border-color: #c5d2db; */
    font-size: 13px;
    font-weight: normal;
}

thead[data-thead="thead-changed-projects"]>tr[data-tr="tr-changed-projects"]>th:nth-of-type(n) {
    text-align: center;
    border-right: 1px solid #666;
}

[data-table="changed-projects"] {
    border: 1px solid #ccc;
    text-align: center;
}

[data-tr="tr-changed-projects"] {
    border: 1px solid #ccc;
    text-align: center;
}

[data-td-value="td-vaule-changed-projects"] {
    border-right: 1px solid #ccc;
}

tr[data-tr="tr-changed-projects"]>td:nth-of-type(n) {
    text-align: center;
}

tr[data-tr="tr-changed-projects"]>td:nth-of-type(6),
tr[data-tr="tr-changed-projects"]>td:nth-of-type(7) {
    text-align: center;
}

div[data-modal-box="modal-box"] {
    display: none;
}

[data-modal="modal"] {
    display: none;
}

[data-datas="cell-datas"] {
    display: none;
}


/* #c5d1db */