[data-link="cell-a"] {
    /* color: #f00; */
    color: #f00 !important;
}


/* max-width: 100px; */

[data-link="cell-span"] {
    box-sizing: border-box;
    display: inline-block;
    color: #00f;
    border-bottom: 1px solid #17f;
    cursor: pointer;
    text-align: center;
}

[data-link="cell-span"]:hover {
    color: #f0f;
    cursor: pointer;
}

[data-img="cel-img"],
[data-img="cel-img"]:hover {
    cursor: pointer;
}

[data-mock-link="mock-link"] {
    color: #00f;
    cursor: pointer;
}

[data-mock-link="mock-link"]:hover {
    color: #0f0;
    text-decoration: underline;
}


/*  */

table.sortable thead {
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}