/* [data-section="section-management-analysis"] {
    width: 100vw;
    height: 500px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: scroll;
}

[data-tabs="tabs-management-analysis"] {
    box-sizing: border-box;
    overflow: hidden;
    background: #f0f;
} */

[data-section="section-management-analysis"] {
    box-sizing: border-box;
    /* margin-top: -50px; */
    margin-top: 0;
}

ul[data-title="title-management-analysis"] {
    box-sizing: border-box;
    /* position: fixed; */
    position: absolute;
    top: 120px;
    left: 0;
    background: #ccc;
    width: 100%;
}

ul>li[data-li="li-management-analysis"] {
    /* border: 1px solid #fff; */
    box-sizing: border-box;
}

ul>li[data-li="li-management-analysis"]:hover {
    background: #fff;
}

div[data-content="content-management-analysis"] {
    /* width: 100vw;
    height: 400px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: scroll;*/
    padding-top: 50px;
}