@charset "UTF-8";

/* modal css */

div[data-modal-box="modal-box"] {
    display: none;
}

.modal-box-hidden {
    display: none;
    z-index: 9999;
    box-sizing: border-box;
    position: absolute;
}

.modal-box-show {
    position: absolute;
    display: block;
    z-index: 9999999;
    border: 1px solid #f00;
    border-radius: 10px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
    height: 300px;
    cursor: move;
    opacity: 0.9;
    background: #000;
}

.code-style {
    color: #0f0;
    background: #000;
}

.modal-close {
    color: red;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.modal-close:hover {
    color: rgb(197, 14, 253);
    cursor: pointer;
}