@charset "UTF-8";
.app {
    --bg-color: #000;
    --text-color: rgb(225, 11, 253);
}


/* :root === golbal var OK*/

 :root {
    --bg-color: #000;
    --text-color: #0f0;
}


/* bug ??? CSS var, local var can only using in the same context ??? */

.test-var {
    /* --bg-color: #000; */
    /* --text-color: #0f0; */
    color: var(--text-color);
    background-color: var(--bg-color);
}


/* :root === golbal var & reusable var */


/* 


    :root {
        --main-bg-color: brown;
    }

    .one {
        color: white;
        background-color: var(--main-bg-color);
        margin: 10px;
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .two {
        color: white;
        background-color: black;
        margin: 10px;
        width: 150px;
        height: 70px;
        display: inline-block;
    }

    .three {
        color: white;
        background-color: var(--main-bg-color);
        margin: 10px;
        width: 75px;
    }

    .four {
        color: white;
        background-color: var(--main-bg-color);
        margin: 10px;
        width: 100px;
    }

    .five {
        background-color: var(--main-bg-color);
    }

*/