@charset "UFT-8";

/* width: 30%; */

.fv-module-box-3 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 328px;
    width: 30%;
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-right: 6px;
}


/* width: 50%; */

.fv-module-box-5 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 545px;
    width: 50%;
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-left: 6px;
}


/* width: 70%; */

.fv-module-box-7 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 760px;
    width: 70%;
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-left: 6px;
}

.fv-module-box-10 {
    box-sizing: border-box;
    display: block;
    min-width: 1000px;
    width: calc(100% - 6px);
    min-height: 100px;
    height: 100%;
    margin-left: 6px;
}