@charset "UFT-8";

/* ??? */

html,
body {
    margin: 0;
    /* padding: 0; */
}

.fv-left-box,
.fv-center-box,
.fv-right-box {
    box-sizing: border-box;
    float: left;
}

.fv-left-box {
    /* background: #0f0; */
    border: 1px solid red;
    width: 30%;
    padding-right: 6px;
}

.fv-right-box {
    /* background: #f0f; */
    border: 1px solid #f0f;
    width: 70%;
    /* padding-left: 6px; */
}

.fv-center-box {
    /* background: #f0f; */
    border: 1px solid #f0f;
    width: 50%;
    /* padding-left: 6px; */
}


/* width: 30%; */

.fv-module-box-3 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 328px;
    width: 30%;
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-right: 6px;
    float: left;
}


/* width: 50%; */

.fv-module-box-5 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 545px;
    width: 50%;
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-left: 6px;
    float: left;
}


/* width: 70%; */

.fv-module-box-7 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 760px;
    width: 70%;
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-left: 6px;
    float: left;
}

.fv-module-box-10 {
    box-sizing: border-box;
    display: block;
    min-width: 1000px;
    width: calc(100% - 6px);
    min-height: 100px;
    height: 100%;
    margin-left: 6px;
    float: left;
}

.clearfix::after {
    display: table;
    /* visibility: hidden; */
    content: "";
    overflow: hidden;
    clear: both;
}