@charset "UTF-8";

/* @import url("./common/scrollbar.css"); */

.h5-dnd-body-container::-webkit-scrollbar {
    box-sizing: border-box;
}

.h5-dnd-body-container::-webkit-scrollbar-thumb {
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #4a4a4a;
    cursor: pointer;
}

.h5-dnd-body-container::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
    cursor: pointer;
}

.h5-dnd-body-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #2c3237;
}


/* webkit-scrollbar-button */


/* horizontal & decrement */

.h5-dnd-body-container::-webkit-scrollbar-button:horizontal:decrement {
    background: url("../img/arrow-up.png") 4px 3px no-repeat;
    background-color: #2c3237;
    /* rotate bug */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    overflow: hidden;
}

.h5-dnd-body-container::-webkit-scrollbar-corner:horizontal:decrement:hover {
    background: url("../img/arrow-up-hover.png") 4px 3px no-repeat;
    background-color: #3c4247;
    /* transform: rotate(90deg); */
}


/* horizontal & increment */

.h5-dnd-body-container::-webkit-scrollbar-button:horizontal:increment {
    background: url("../img/arrow-down.png") 4px 3px no-repeat;
    background-color: #2c3237;
    /* transform: rotate(90deg); */
}

.h5-dnd-body-container::-webkit-scrollbar-corner:horizontal:increment:hover {
    background: url("../img/arrow-down-hover.png") 4px 3px no-repeat;
    background-color: #3c4247;
    /* transform: rotate(90deg); */
}


/* vertical & decrement */

.h5-dnd-body-container::-webkit-scrollbar-button:vertical:decrement {
    background: url("../img/arrow-up.png") 4px 3px no-repeat;
    background-color: #2c3237;
}

.h5-dnd-body-container::-webkit-scrollbar-corner:vertical:decrement:hover {
    background: url("../img/arrow-up-hover.png") 4px 3px no-repeat;
    background-color: #3c4247;
}


/* vertical & increment */

.h5-dnd-body-container::-webkit-scrollbar-button:vertical:increment {
    background: url("../img/arrow-down.png") 4px 3px no-repeat;
    background-color: #2c3237;
}

.h5-dnd-body-container::-webkit-scrollbar-corner:vertical:increment:hover {
    background: url("../img/arrow-down-hover.png") 4px 3px no-repeat;
    background-color: #3c4247;
}


/*



[data-demo="scrollbar-box"]::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(https://cdn.xgqfrms.xyz/img/chrome-srollbar/horizontal-decrement-arrow.png), url(https://cdn.xgqfrms.xyz/img/chrome-srollbar/horizontal-button-background.png);
    background-repeat: no-repeat, repeat-x;
    background-position: 2px 3px, 0 0;
}

[data-demo="scrollbar-box"]::-webkit-scrollbar-button:horizontal:decrement:hover {
    -webkit-border-image: url(https://cdn.xgqfrms.xyz/img/chrome-srollbar/horizontal-button-hover.png) 0 2 0 2;
    border-image: url(https://cdn.xgqfrms.xyz/img/chrome-srollbar/horizontal-button-hover.png) 0 2 0 2;
    background-image: url(https://cdn.xgqfrms.xyz/img/chrome-srollbar/horizontal-decrement-arrow.png), url(https://cdn.xgqfrms.xyz/img/chrome-srollbar/horizontal-button-background-hover.png);
}



*/