@charset "UFT-8";

/* @import url("../common/modules-title.css"); */


/* modules title */

.otc-h5dnd-modules-title-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 545px;
}

.otc-h5dnd-modules-title {
    position: relative;
    color: #2e2f33;
    text-indent: 14px;
    margin-left: 0;
    font-weight: 600;
    font-size: 15px;
    font-family: "MicroSoft YaHei", sans-serif, serif;
    margin-top: 6px;
    margin-bottom: 5px;
}

.otc-h5dnd-modules-title::before {
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 4px;
    background: #f79530;
    height: 15px;
}

[data-delete-span="delete-span"] {
    font-weight: normal;
    /* font-weight: 100; */
}

* {
    font-family: SimSun, serif;
    font-size: 12px;
}


/*
.otc-h5dnd-modules-title-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
}

.otc-h5dnd-modules-title {
    position: relative;
    color: #2e2f33;
    text-indent: 14px;
    margin-left: 0;
    font-weight: 600;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.otc-h5dnd-modules-title::before {
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 4px;
    background: #f79530;
    height: 15px;
}

[data-delete-span="delete-span"] {
    font-weight: normal;
} */