@charset "UFT-8";

/* fv-module-table.css */


/* @import url("./common/reset.css"); */

@import url("../common/module.css");

/* module table title*/

.fv-module-table-title-box {
    width: 100%;
    /* max-width: 30%; */
    /* background: #f0f; */
    min-width: 328px;
}

.fv-module-table-title-p {
    position: relative;
    color: #000;
    text-indent: 15px;
    margin-left: 3px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fv-module-table-title-p::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: inline-block;
    border: 2px solid #f79530;
    width: 0;
    height: 16px;
    /* line-height: 22px; */
}


/* module table body*/