@charset "UFT-8";
[data-delete-span="delete-span"] {
    font-weight: normal;
}

* {
    font-family: SimSun, serif;
    font-size: 12px;
}

[data-display="display-none"] {
    display: none;
}


/* title & more */

[data-time="otc-shibor-interbank-dismantle-borrowing-interest-rates-time"] {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: normal;
}

[data-link="otc-shibor-interbank-dismantle-borrowing-interest-rates-link"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    float: right;
    margin-top: 3px;
}

[data-link="otc-shibor-interbank-dismantle-borrowing-interest-rates-link"]>a:nth-of-type(1) {
    margin-right: 54px;
}

[data-link="otc-shibor-interbank-dismantle-borrowing-interest-rates-link"]>a:hover {
    color: #f50;
}

.css-class-hc-ES {
    border: 1px solid #d7dbe0;
    /* border: 1px solid #fff; */
}

span[data-title="sub-title"] {
    color: #4d4d4d;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 3px;
    font-weight: bold;
    /* font-weight: normal; */
}

section[data-group="mix-hc-table"] {
    box-sizing: border-box;
    /* background: #ccc; */
    width: 540px;
    max-width: 540px;
    min-width: 540px;
    /* border: 1px solid #dce0e4; */
}

td.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-td-key {
    box-sizing: border-box;
    background: #e8eefa;
    border-top: 1px solid #c5d2db;
    text-align: center;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

table.otc-shibor-interbank-dismantle-borrowing-interest-rates-table:nth-of-type(1) {
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 542px;
    max-width: 542px;
    min-width: 542px;
    /* width: 530px;
    max-width: 530px;
    min-width: 530px; */
    /* margin-left: 4px; */
    /* overflow: hidden; */
    /* background: #f0f; */
}

.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-th-title {
    background: #f0f3fa;
    text-align: left;
    padding-left: 8px;
}

.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-th-value {
    background: #f0f3fa;
    text-align: right;
    padding-right: 8px;
}


/* thead, */

thead.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-thead {
    display: table-header-group;
}

tfoot.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tfoot {
    display: none;
}

html,
body,
section,
div,
table {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

thead,
tfoot,
tr,
td {
    padding: 0;
    margin: 0;
    border: 0;
}

section.otc-module-box-5 {
    box-sizing: border-box;
    float: left;
    /* margin-top: 6px;
    margin-bottom: 6px; */
    width: 542px;
    /* min-height: 127px; */
}

table.otc-shibor-interbank-dismantle-borrowing-interest-rates-table {
    box-sizing: border-box;
    width: 540px;
    max-width: 540px;
    /* min-width: 540px; */
    /* height: 127px; */
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    font-weight: normal;
    color: #4d4d4d;
}


/* thead */

thead.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-thead>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr {
    box-sizing: border-box;
    background: #e8eefa;
    border-top: 1px solid #c5d2db;
    text-align: center;
}

thead.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-thead>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-td-title:nth-of-type(n) {
    box-sizing: border-box;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

thead.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-thead>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-td-title:nth-of-type(1) {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    /* text-indent: 4px; */
    /* background: #f50; */
}

thead.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-thead>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td:nth-of-type(1),
thead.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-thead>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td:nth-of-type(2) {
    border-right: 1px solid #c5d2db;
}


/* font height & 0.5px * 2 ??? */

tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr {
    box-sizing: border-box;
    height: 23px;
    line-height: 23px;
}

[data-title-text="otc-shibor-interbank-dismantle-borrowing-interest-rates-title-text"] {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: normal;
}

td.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-td-key {
    box-sizing: border-box;
    color: #4d4d4d;
    /* background: #e8eefa; */
    font-size: 12px;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 23px;
    line-height: 23px;
    text-indent: 4px;
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
}

td.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-td-value {
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 23px;
    line-height: 23px;
    text-align: right;
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
    padding-right: 4px;
}

tbody.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tbody>tr {
    background: #f5f5f5;
}

tbody.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tbody>tr:nth-of-type(2n) {
    background: #ffffff;
    border: 1px solid #e9e9e9;
}

tbody.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tbody>tr:nth-of-type(1) {
    border-top: 1px solid #d7dbe0;
}

tbody.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tbody>tr:nth-of-type(5) {
    border-bottom: 1px solid #d7dbe0;
}

tbody.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tbody>tr:nth-of-type(n) {
    border-right: 1px solid #d7dbe0;
}

tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td:nth-of-type(1) {
    border-left: 1px solid #d7dbe0;
    border-right: 1px solid #e9e9e9;
}

tbody.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tbody>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td:nth-of-type(1) {
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* background: #f50; */
    /* text-align: left; */
    /* padding-left: 8px; */
    max-width: 50px;
    width: 50px;
}

tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td:nth-of-type(3) {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #c5d2db;
    /* border-bottom: 1px solid #c5d2db; */
}

thead.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-thead>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr {
    border-right: 1px solid #c5d2db;
}

tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td:nth-of-type(n) {
    border-right: 1px solid #d7dbe0;
}

tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr>td:nth-last-of-type(1) {
    border-right: 1px solid #d7dbe0;
}

[data-span="data-otc-ES-title"] {
    color: red;
}

tbody.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tbody>tr.otc-shibor-interbank-dismantle-borrowing-interest-rates-table-tr {
    border-bottom: 1px solid #c5d2db;
}


/* HC */

[data-hs-container="data-shibor-interbank-dismantle-borrowing-interest-rates-container-uid"] {
    box-sizing: border-box;
    width: 542px;
    height: 307px;
    border: 1px solid #ccc;
}


/* date time */

[data-time="otc-shibor-interbank-dismantle-borrowing-interest-rates-time"] {
    /* color: #4d4d4d; */
    font-size: 12px;
    font-weight: normal;
}