@charset "UTF-8";

/* @import url("./hs-scrollbar.css"); */


/* overwrite HS scrollbar css & black skin */

.highcharts-scrollbar-track {
    stroke: #2c3237;
    fill: #2c3237;
}

.highcharts-scrollbar-button {
    stroke: #2c3237;
    fill: #2c3237;
}

.highcharts-scrollbar-thumb {
    fill: #4a4a4a;
    stroke: #4a4a4a;
    cursor: pointer;
}

.highcharts-scrollbar-thumb:hover {
    fill: #5c5c5c;
    cursor: pointer;
}

.highcharts-scrollbar-arrow {
    fill: #999999;
    width: 10px !important;
    height: 10px !important;
}

.highcharts-scrollbar-arrow:hover {
    fill: #fff;
}