@charset "UTF-8";

/* @media */

@media print {
    .noprint {
        display: none;
    }
    .h5-dnd-header-container {
        display: none;
    }
    .h5-dnd-body-container {
        float: none;
    }
    .h5-dnd-body-container {
        height: 100%;
        min-height: 3000px;
    }
    [data-div-inner-box="data-div-inner-box"] {
        width: calc(542px + 6px * 2);
    }
    [data-delete-span="delete-span"] {
        display: none;
    }
    [data-sortable-box*="sortable-box"] {
        margin: 0 auto;
        float: none;
    }
    .fv-left-box,
    .fv-center-box,
    .fv-right-box,
    .fv-all-box {
        margin-left: 0;
        page-break-after: always;
        page-break-inside: avoid;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    [data-link*="fv-"]>a {
        display: none;
    }
}