/*
    # CSS3 & flex layout
    https://www.w3.org/TR/css-flexbox-1/
    https://developer.mozilla.org/en-US/docs/Web/CSS/flex
    https://developer.mozilla.org/en-US/docs/Glossary/Flex

    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    https://css-tricks.com/almanac/properties/f/flex/
    https://css-tricks.com/using-flexbox/
    https://css-tricks.com/old-flexbox-and-new-flexbox/

    https://www.w3schools.com/cssref/css3_pr_flex.asp
    https://www.w3schools.com/css/css3_flexbox.asp

    # Flexbox properties for the parent element:
        flex-direction
        flex-wrap
        flex-flow
        justify-content
        align-items
        align-content

    # Flexbox properties for the child elements:
        order
        flex-grow
        flex-shrink
        flex-basis
        flex === shorthand (flex-grow[, flex-shrink[, flex-basis]])
        align-self
*/

caption {
    display: block;
    line-height: 3em;
    width: 100%;
    -webkit-align-items: stretch;
    border: 1px solid #eee;
    background: #ccc;
    color: #fff;
}

.flexy-table {
    display: block;
    width: 90%;
    /* border: 1px solid #eee; */
    max-height: 320px;
    overflow: auto;
    border: 1px solid grey;
}

.flexy-table thead {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
}

.flexy-table thead tr {
    padding-right: 15px;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-align-items: stretch;
}

.flexy-table tbody {
    display: -webkit-flex;
    height: 100px;
    overflow: auto;
    -webkit-flex-flow: row wrap;
}

.flexy-table tbody tr {
    display: -webkit-flex;
    width: 100%;
}

.flexy-table tr td {
    width: 15%;
}