@charset "UTF-8";

/* colors for HC & HS */

[data-color="color-01"] {
    color: #4781b1;
}

[data-color="color-02"] {
    color: #6ab437;
}

[data-color="color-03"] {
    color: #f27211;
}

[data-color="color-04"] {
    color: #8d0f3e;
}

[data-color="color-05"] {
    color: #857fab;
}

[data-color="color-06"] {
    color: #37b5a0;
}


/* half */

[data-color="color-07"] {
    color: #c3caab;
}

[data-color="color-08"] {
    color: #055281;
}

[data-color="color-09"] {
    color: #f3254b;
}

[data-color="color-10"] {
    color: #ffb611;
}

[data-color="color-11"] {
    color: #af4698;
}

[data-color="color-12"] {
    color: #d4c6c3;
}