@charset "UFT-8";

/* additional-issues-all */


/* commons */


/* @import url("./tabs/tabs.css"); */


/* @import url("./no-data.css"); */


/* css */

@import url("./additional-issues-preplan.css");
@import url("./additional-issues-implementation.css");

/* title */

[data-title="otc-additional-issues-all-title"] {
    /*  */
}

[data-link="otc-additional-issues-all-link"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    margin-right: 54px;
    float: right;
    margin-top: 3px;
}

[data-link="otc-additional-issues-all-link"]>a:hover {
    color: #f50;
}