@charset "UTF-8";
.copyright {
    text-align: center;
    color: #777;
    font-size: 16px;
}

#autoGetYear {
    text-align: center;
    font-size: 16px;
}

.autoGetAll {
    text-align: center;
    font-size: 16px;
}


/* #crm_footer {
    position: absolute;
    bottom: -230px;
    text-align: center;
    left: calc(50% - 100px);
} */