@charset "UTF-8";
.app-index {
    /* overflow: hidden; */
    /* height: calc(100%-67px); */
    height: 100%;
    position: absolute;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    /* top: 67px; */
    /* margin-top: 67px; */
    /* padding-top: 67px; */
}

.app-index::-webkit-scrollbar {
    width: 7px;
    height: calc(100% - 67px);
    /* overflow: hidden; */
    background-color: #ccc;
    /* #108ee9 */
    border-radius: 5px;
}

.app-index::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 5px;
}