.form-inline {
    text-align: left;
    color: #2e2f33;
    margin-left: 10px;
    padding-top: 11px;
}.form-control {
     height: 27px;
     padding: 0;
     font-size: 14px;
 }.btn {
      padding: 3px 12px;
  }

.selectTime {
    width: 100%;
}
#rdxwTable {
     width:100%;
}
.active>a {
    background: #3385ff;
    color: #FFF;
}