



.yydyLeft{
  width: 23%;
  height: 1200px;
  float: left;
}

.contentRight{
  width: 76%;
  height: auto;
  float: right;  
  border: 1px solid #ccc;
}

.mydingyue{text-align: left;}
input[name="updata"]{
  width: 40px;
  height: 30px;
}

input[name="delete"]{
  width: 40px;
  height: 30px;
}

.yydyDetailList{
 width: 100%;
 text-align: left;
}


#yydyTab table td,
#yydyTab table th{
  border: none;
  padding-bottom: 10px;
  line-height: 28px;

}
#yydyTab table th a,
#yydyTab table td a{
  width: 80%;
  height: 100%;
  display: block;
   background: #DBDBDB;
   text-align: center;
}


#yydyTab table th{text-align: left;}
#yydyTab table td{text-align: right;}

.mykey{
  color: #FFB400;
}

.yxtjConBottom input[type='button']{
  width: 100px;
}


.gjcCon{
  width: 80%;
  height: 100px;
  margin: 20px auto;
}

.gjcCon1{
   margin-bottom: 10px;
}

input[type='radio']{
  margin-right: 10px;
}
 .gjcCon input[type='text']{
  margin-left: 10px;
}


/*
 * 时间设定
 */

.sjsdConOne{
  width: 80%;
  height: auto;
  text-align: center;
  margin: 26px auto;
}

.sjsdConTwo{
    height: auto;
    margin: 26px 79px;
}

.sjsdConOne input{
 margin-top: 10px;
}

.sjsdConOne input,
.sjsdConOne ul
{
  float: left;
}



.sjsdUl{
display: block;
height: 36px;
}
.sjsdUl li{
width: 100px;
height: 100%;
line-height: 36px;
text-align: center;
border: 1px solid #000000;
 float: left;
} 



/*
 * 选择分析师
 */

.xzfxsCon{
 width: 80%;
 margin: 10px auto;
}
.xzfxsCon input{
 margin-bottom: 15px;
}



/*
 * 选择研报类型
 */


.div_inline{
       display: inline;
   }
    /* 设置子节点属性 */
.tree_node_child{ margin-left: 50px;}



.tree_node input[type='button']{
  padding: 1px 6px;
}





/*
 * 选择行业
 */







/*
 * 选择研报来源
 */