.fv-module-box-3,
.fv-module-box-5,
.fv-module-box-7,
.fv-module-box-10 {
    page-break-after: always;
    page-break-inside: avoid;
}

[data-div-module-uid*="div-module"] {
    page-break-after: always;
    page-break-inside: avoid;
}


/* css & print */

[data-sortable-box*="sortable-box"] {
    float: none;
}

[data-nav-small-btn="nav-small-btn"] {
    display: none;
}


/* css & @media print */

@media print {
    [data-sortable-box*="sortable-box"] {
        float: none;
    }
    [data-nav-small-btn="nav-small-btn"] {
        display: none;
    }
}