@charset "UTF-8";

/* table bug ??? */

[data-section="data-table-box"]:nth-of-type(1) {
    background: rgb(6, 238, 255);
}

[data-section="data-table-box"]:nth-of-type(2) {
    background: rgb(250, 205, 6);
}

table:nth-of-type(1) {
    border: 1px solid #f00;
}

table:nth-of-type(2) {
    border: 1px solid #f0f;
}

[data-tbody="otc-equity-shareholder-table-tbody"]:nth-of-type(1) {
    background: #f00;
}

[data-tbody="otc-equity-shareholder-table-tbody"]:nth-of-type(2) {
    background: #0f0;
}

[data-div="div-box"]:nth-of-type(1) {
    background: #f0f;
}

[data-div="div-box"]:nth-of-type(2) {
    background: #0ff;
}

[data-div="div-box"]:nth-of-type(3) {
    background: #ff0;
}