.css-in-js-h1 {
    color: #0f0;
    font-size: 2rem;
    text-shadow: 3px 3px #000;
    background: rgba(255, 255, 255, 0.7);
}

.css_in_js_h1 {
    color: #0f0;
    font-size: 2rem;
    text-shadow: 3px 3px #000;
    background: rgba(255, 255, 255, 0.7);
}


/* 

E:\xgqfrms\src-2017-6-22\src\components\Item1-css-in-js.css

import styles from './Item1-css-in-js.css';


<span className="styles.css-in-js-h1">
    CSS in JS Testing
</span>


<span className={styles.css_in_js_h1}>
    CSS in JS Testing
</span>



*/