@charset "UFT-8";

/* latest-transaction-data */

thead.otc-latest-transaction-data-table-thead,
tfoot.otc-latest-transaction-data-table-tfoot {
    display: none;
    /* display: table-header-group; */
}

html,
body,
section,
div,
table {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

tr,
td {
    padding: 0;
    margin: 0;
    border: 0;
}

section.otc-module-box-5 {
    box-sizing: border-box;
    float: left;
    /* margin-top: 6px;
    margin-bottom: 6px; */
    width: 540px;
    /* min-height: 127px; */
}

table.otc-latest-transaction-data-table {
    box-sizing: border-box;
    width: 540px;
    max-width: 540px;
    min-width: 540px;
    /* height: 127px; */
    background: #25292e;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    font-weight: normal;
    color: #bbc1c7;
}


/* font height & 0.5px * 2 ??? */

tr.otc-latest-transaction-data-table-tr {
    box-sizing: border-box;
    height: 23px;
    line-height: 23px;
}

[data-title-text="otc-latest-transaction-data-title-text"] {
    color: #bbc1c7;
    font-size: 12px;
    font-weight: normal;
}

td.otc-latest-transaction-data-table-td-key {
    box-sizing: border-box;
    color: #bbc1c7;
/*     background: #25292e; */
    background: #31373d;
    font-size: 12px;
    width: 112px;
    min-width: 112px;
    max-width: 112px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    text-indent: 4px;
}

td.otc-latest-transaction-data-table-td-value {
    box-sizing: border-box;
    width: 158px;
    min-width: 158px;
    max-width: 158px;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    text-align: right;
    padding-right: 7px;
}

tbody.otc-latest-transaction-data-table-tbody>tr> {
    background: #25292e;
}

tbody.otc-latest-transaction-data-table-tbody>tr:nth-of-type(2n) {
    background: #212529;
    border-top: 1px solid #4a4c4f;
    border-bottom: 1px solid #4a4c4f;
}

tbody.otc-latest-transaction-data-table-tbody>tr:nth-of-type(1) {
    border-top: 1px solid #4a4c4f;
}

tbody.otc-latest-transaction-data-table-tbody>tr:nth-of-type(5) {
    
    border-bottom: 1px solid #4a4c4f;
}

tr.otc-latest-transaction-data-table-tr>td:nth-of-type(1) {
    border-left: 1px solid #4a4c4f;
    border-right: 1px solid #4a4c4f;
    border-bottom: 1px solid #4a4c4f;
}

tr.otc-latest-transaction-data-table-tr>td:nth-of-type(3) {
    border-left: 1px solid #4a4c4f;
    border-right: 1px solid #4a4c4f;
    border-bottom: 1px solid #4a4c4f;
}

tr.otc-latest-transaction-data-table-tr>td:nth-of-type(4) {
    border-right: 1px solid #4a4c4f;
}

[data-link="otc-latest-transaction-data-link"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    margin-right: 54px;
    float: right;
    margin-top: 3px;
}

[data-link="otc-latest-transaction-data-link"]>a:hover {
    color: #f50;
}