[data-hs-container="data-company-performance-achievement-container-uid"] {
    box-sizing: border-box;
    border: 1px solid #e4e6ea;
    border-top: none;
    min-height: 300px;
    height: 100%;
}

#company_performance_achievement_hs_container2 {
    border-top: 1px solid #e4e6ea;
    margin-top: 10px;
}

[data-hs-container="data-company-performance-valuation-container-uid"] {
    box-sizing: border-box;
    border: 1px solid #e4e6ea;
    border-top: none;
    min-height: 300px;
    height: 100%;
}

#company_performance_valuation_hs_container2 {
    border-top: 1px solid #e4e6ea;
    margin-top: 10px;
}

.otc-latest-financial-data-table-tbody>tr.otc-latest-financial-data-table-tr:nth-of-type(7)>td.otc-latest-financial-data-table-td-value:nth-last-of-type(1) {
    background: #f0f;
}