@charset "UTF-8";

/* tabs */

div,
ul,
li,
a {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

[data-tabs="tabs-box"] {
    box-sizing: border-box;
    width: 540px;
    height: 100%;
    margin: 10px auto;
    background: #fff;
}

[data-tab="tab-title-box"] {
    background: #fff;
    border: 0;
}


/* tab-title & li */

[data-tab="tab-title-ul"] {
    box-sizing: border-box;
    width: 540px;
    /* border: 1px solid #bacadb; */
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    /* font-weight: bold; */
}

[data-tab="tab-title-ul"]::after {
    display: table;
    clear: both;
    overflow: auto;
    visibility: hidden;
    content: "";
    width: 0;
    height: 0;
    zoom: 1;
}

[data-tab="tab-title"] {
    box-sizing: border-box;
    width: 100px;
    float: left;
    text-align: center;
    background: #e8eefa;
    border: 1px solid #bacadb;
}

.default-link-color {
    color: #75757c;
    background: #edf2f8;
}

.hover-link-color {
    color: #fff;
    background: #3385ff;
}


/* li hover & datalist */

[data-tab="tab-title-hover"] {
    box-sizing: border-box;
    width: 100px;
    float: left;
    text-align: center;
    background: #3385ff;
}

[data-tab="tab-title"]:nth-of-type(n):hover,
[data-tab="tab-title"]:nth-of-type(n):hover>a[data-tab="tab-link"] {
    background: #3385ff;
    color: #fff;
    cursor: pointer;
}

[data-tab="tab-title"]:nth-of-type(1) {
    border-right: 1px solid #bacadb;
}

[data-tab="tab-title"]:nth-of-type(2) {
    border-right: 1px solid #bacadb;
}

[data-tab="tab-title"]:nth-of-type(3) {
    border-right: 1px solid #bacadb;
}

[data-tab="tab-title"]:nth-last-of-type(1) {
    /* background: #ff00ff; */
}

li[data-tab="tab-title"] {
    list-style: none;
}

a[data-tab*="tab-link"] {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    /* font-size: 18px; */
}

[data-tab="tab-link-DM"]:hover {
    background: #3385ff;
    color: #fff;
    cursor: pointer;
}

[data-tab="tab-link-AI"]:hover {
    background: #3385ff;
    color: #fff;
    cursor: pointer;
}


/* a[data-tab="tab-link"] {
    color: #4d4d4d;
}

a[data-tab="tab-link"]:hover {
    color: #fff;
} */


/*
[data-tab="tab-title"]:nth-last-of-type(1)::after {
    display: table;
    clear: both;
    overflow: auto;
    visibility: hidden;
    content: "";
    zoom: 1;
}
*/


/* tab-container & div */

[data-tab="tab-container-box"] {
    box-sizing: border-box;
    background: #fff;
    width: 540px;
    /* height: 830px; */
    /* min-height: 100px; */
    overflow: hidden;
    /* border: 1px solid #ccc; */
    border: 0;
    margin-top: 5px;
}

[data-tab="tab-container-DM"] {
    box-sizing: border-box;
    background: #fff;
    /* border: 1px solid red; */
    /* border: 1px solid #ccc; */
    /* padding: 5px; */
    width: 540px;
    /* height: 500px; */
    height: 100%;
    float: left;
}

[data-tab="tab-container-AI"] {
    box-sizing: border-box;
    background: #fff;
    /* border: 1px solid red; */
    /* border: 1px solid #ccc; */
    /* padding: 5px; */
    width: 540px;
    /* height: 500px; */
    height: 100%;
    float: left;
}

.active-display-block {
    display: block;
}

.default-display-block {
    display: none;
}


/* clearfix */

[data-clearfix="css-clearfix"] {
    display: table;
    clear: both;
    overflow: auto;
    visibility: hidden;
    content: "";
    width: 0;
    height: 0;
    zoom: 1;
}