@charset "UTF-8";

/* ??? */

html,
body {
    margin: 0;
    /* padding: 0; */
}

.fv-left-box,
.fv-center-box,
.fv-right-box {
    box-sizing: border-box;
    float: left;
}

.fv-left-box {
    /* background: #0f0; */
    border: 1px solid red;
    width: 30%;
    padding-right: 6px;
}

.fv-right-box {
    /* background: #f0f; */
    border: 1px solid #f0f;
    width: 70%;
    /* padding-left: 6px; */
}

.fv-center-box {
    /* background: #f0f; */
    border: 1px solid #f0f;
    width: 50%;
    /* padding-left: 6px; */
}


/* width: 30%; */

.fv-module-box-3 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 328px;
    /* width: 30%; */
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-right: 6px;
}


/* width: 50%; */

.fv-module-box-5 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 545px;
    /* width: 50%; */
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-right: 6px;
}


/* width: 70%; */

.fv-module-box-7 {
    box-sizing: border-box;
    /* border: 1px solid #d7dbe0; */
    display: block;
    /* display: flex; */
    min-width: 760px;
    /* width: 70%; */
    /* width: 100vw; */
    min-height: 100px;
    height: 100%;
    /* position: absolute; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    margin-left: 6px;
}


/* overwriter */

.fv-module-box-3,
.fv-module-box-5,
.fv-module-box-7 {
    width: 100%;
}

.fv-module-box-5 {
    clear: both;
    display: block;
    margin-left: 6px;
    overflow-x: hidden;
    /* width */
}

.clearfix::after {
    display: table;
    /* visibility: hidden; */
    content: "";
    overflow: hidden;
    clear: both;
}

[data-disabled="true"] {
    cursor: not-allowed;
    color: grey;
}

.absolute-center {
    position: relative;
    width: 100%;
    /* width: 70%; */
    display: block;
    box-sizing: border-box;
    /* margin-left: 30%; */
    background: #0f0;
    min-height: 100vh;
    height: 100%;
}

[data-sortable="data-sortable-uid"] {
    position: absolute;
    margin: 0 auto;
}