@charset "UTF-8";

/* chart.js */

[data-uid="chart-canvas-node"] {
    box-sizing: border-box;
    border: 1px solid red;
    width: 602px;
    height: 302px;
    /* canvas width : canvas height === 2: 1 */
}