@charset "UFT-8";
.otc-h5dnd-modules-title-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
}

.otc-h5dnd-modules-title {
    position: relative;
    color: #2e2f33;
    text-indent: 14px;
    margin-left: 0;
    font-weight: 600;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.otc-h5dnd-modules-title::before {
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 4px;
    background: #f79530;
    height: 15px;
}

[data-delete-span="delete-span"] {
    font-weight: normal;
}


/* company-news */


/* thead, */

tfoot {
    display: none;
}

html,
body,
section,
div,
table {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

thead,
tfoot,
tr,
td {
    padding: 0;
    margin: 0;
    border: 0;
}

section.otc-module-box-5 {
    box-sizing: border-box;
    float: left;
    /* margin-top: 6px;
    margin-bottom: 6px; */
    width: 540px;
    min-height: 127px;
}

table.otc-company-news-table {
    box-sizing: border-box;
    width: 540px;
    max-width: 540px;
    min-width: 540px;
    height: 127px;
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    font-weight: normal;
    color: #4d4d4d;
}


/* font height & 0.5px * 2 ??? */

tr.otc-company-news-table-tr {
    box-sizing: border-box;
    height: 23px;
    line-height: 23px;
}

[data-title-text="otc-company-news-title-text"] {
    color: #4d4d4d;
    font-size: 13px;
    font-weight: normal;
}

td.otc-company-news-table-td-key {
    box-sizing: border-box;
    color: #4d4d4d;
    /* background: #e8eefa; */
    font-size: 13px;
    width: 395px;
    min-width: 395px;
    max-width: 395px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    text-indent: 4px;
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
}

td.otc-company-news-table-td-value {
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
}

tbody.otc-company-news-table-tbody>tr {
    background: #fff;
}


/* tbody.otc-company-news-table-tbody>tr.otc-company-news-table-tr>td:nth-of-type(2) {
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
} */

tbody.otc-company-news-table-tbody>tr:nth-of-type(2n) {
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
}

tbody.otc-company-news-table-tbody>tr:nth-of-type(1) {
    border-top: 1px solid #d7dbe0;
}

tbody.otc-company-news-table-tbody>tr:nth-of-type(5) {
    border-bottom: 1px solid #d7dbe0;
}

tr.otc-company-news-table-tr>td:nth-of-type(1) {
    border-left: 1px solid #d7dbe0;
    border-right: 1px solid #e9e9e9;
    /* border-bottom: 1px solid #c5d2db; */
}

tr.otc-company-news-table-tr>td:nth-of-type(3) {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #c5d2db;
    /* border-bottom: 1px solid #c5d2db; */
}

tr.otc-company-news-table-tr>td:nth-of-type(4) {
    border-right: 1px solid #d7dbe0;
}

[data-link="otc-company-news-link"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    margin-right: 54px;
    float: right;
}

[data-link="otc-company-news-link"]>a:hover {
    color: #f50;
}

thead.otc-company-news-table-thead>tr.otc-company-news-table-tr {
    box-sizing: border-box;
    background: #e8eefa;
    border-top: 1px solid #c5d2db;
    text-align: center;
}

thead.otc-company-news-table-thead>tr.otc-company-news-table-tr>td.otc-company-news-table-td-title:nth-of-type(n) {
    box-sizing: border-box;
    font-size: 13px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

thead.otc-company-news-table-thead>tr.otc-company-news-table-tr>td.otc-company-news-table-td-title:nth-of-type(1) {
    width: 395px;
    min-width: 395px;
    max-width: 395px;
    text-indent: 4px;
}

thead.otc-company-news-table-thead>tr.otc-company-news-table-tr>td:nth-of-type(1),
thead.otc-company-news-table-thead>tr.otc-company-news-table-tr>td:nth-of-type(2) {
    border-right: 1px solid #c5d2db;
}


/* thead.otc-company-news-table-thead>tr.otc-company-news-table-tr>td.otc-company-news-table-td-title:nth-of-type(2) {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

thead.otc-company-news-table-thead>tr.otc-company-news-table-tr>td.otc-company-news-table-td-title:nth-of-type(3) {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
} */