@charset "UFT-8";

/* research-report */


/* thead, */


/* display: table; */

thead.otc-research-report-table-thead {
    display: table-header-group;
}

tfoot.otc-research-report-table-tfoot {
    display: none;
}

html,
body,
section,
div,
table {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

thead,
tfoot,
tr,
td {
    padding: 0;
    margin: 0;
    border: 0;
}

section.otc-module-box-5 {
    box-sizing: border-box;
    float: left;
    /* margin-top: 6px;
    margin-bottom: 6px; */
    width: 540px;
    /* min-height: 127px; */
}

table.otc-research-report-table {
    box-sizing: border-box;
    width: 540px;
    max-width: 540px;
    min-width: 540px;
    /* height: 127px; */
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    font-weight: normal;
    color: #4d4d4d;
}


/* font height & 0.5px * 2 ??? */

tr.otc-research-report-table-tr {
    box-sizing: border-box;
    height: 23px;
    line-height: 23px;
}

[data-title-text="otc-research-report-title-text"] {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: normal;
}

td.otc-research-report-table-td-key {
    box-sizing: border-box;
    color: #4d4d4d;
    /* background: #e8eefa; */
    font-size: 12px;
    width: 325px;
    min-width: 325px;
    max-width: 325px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    text-indent: 4px;
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
}

td.otc-research-report-table-td-value {
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
}

tbody.otc-research-report-table-tbody>tr {
    background: #fff;
}


/* tbody.otc-research-report-table-tbody>tr.otc-research-report-table-tr>td:nth-of-type(2) {
    font-size: 12px;
    font-family: SimSun, serif, sans-serif;
} */

tbody.otc-research-report-table-tbody>tr:nth-of-type(2n) {
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
}

tbody.otc-research-report-table-tbody>tr:nth-of-type(1) {
    border-top: 1px solid #d7dbe0;
}

tbody.otc-research-report-table-tbody>tr:nth-of-type(5) {
    border-bottom: 1px solid #d7dbe0;
}

tr.otc-research-report-table-tr>td:nth-of-type(1) {
    border-left: 1px solid #d7dbe0;
    border-right: 1px solid #e9e9e9;
    /* border-bottom: 1px solid #c5d2db; */
}

tbody.otc-research-report-table-tbody>tr.otc-research-report-table-tr>td:nth-of-type(1) {
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tr.otc-research-report-table-tr>td:nth-of-type(3) {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #c5d2db;
    /* border-bottom: 1px solid #c5d2db; */
}

tr.otc-research-report-table-tr>td:nth-of-type(4) {
    border-right: 1px solid #d7dbe0;
}

[data-more="otc-research-report-link"]>a {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    margin-right: 54px;
    float: right;
    margin-top: 3px;
}

[data-more="otc-research-report-link"]>a:hover {
    color: #f50;
}

thead.otc-research-report-table-thead>tr.otc-research-report-table-tr {
    box-sizing: border-box;
    background: #e8eefa;
    border-top: 1px solid #c5d2db;
    text-align: center;
}

thead.otc-research-report-table-thead>tr.otc-research-report-table-tr>td.otc-research-report-table-td-title:nth-of-type(n) {
    box-sizing: border-box;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

thead.otc-research-report-table-thead>tr.otc-research-report-table-tr>td.otc-research-report-table-td-title:nth-of-type(1) {
    width: 325px;
    min-width: 325px;
    max-width: 325px;
    text-indent: 4px;
}

thead.otc-research-report-table-thead>tr.otc-research-report-table-tr>td:nth-of-type(1),
thead.otc-research-report-table-thead>tr.otc-research-report-table-tr>td:nth-of-type(2) {
    border-right: 1px solid #c5d2db;
}

a[data-link="otc-research-report-link"] {
    color: #3285ff;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    margin-right: 54px;
}

a[data-link="otc-research-report-link"]:hover {
    color: #f50;
}

tbody.otc-research-report-table-tbody>tr:nth-last-of-type(1) {
    border-bottom: 1px solid #d7dbe0;
}