@charset "UTF-8";

/*

xgqfrms 2017.06.28

*/

.sidebar-btn::after {
    color: #0f0;
    background: #000;
    width: 20px;
    margin: auto 5px;
    height: 50px;
    content: 'B';
    position: absolute;
    left: 240px;
    top: 35%;
    cursor: pointer;
}