@charset "UFT-8";

/* @media print */


/* @media screnn */

:root {
    /* % & rem & em */
    --fontSizeRemBase: 0.75rem;
    --fontSizeEmBase: 0.75em;
    --fontSize12: 12px;
    --fontSizeP75: 75%;
    --fontSize16: 16px;
    --background: #fff;
    --backgroundBlack: #000;
    --color: #fff;
    /* js change color value */
    --red: #f0f;
    --green: #0f0;
    --blue: #00f;
    --white: #fff;
    --black: #000;
    /* calc() & var() */
    --font-size-factor: 2.5;
    --black_color: #fff;
    --black_backgroud: #000;
}

body {
    color: var(--color);
    font-size: var(--fontSizeEmBase);
}

[data-title="h1"] {
    /* BAD & font-size: var(--fontSize12*2); */
    /* BAD & font-size: var(--fontSize12)*2; */
    /* OK & font-size: calc(var(--fontSize12)*2); */
    font-size: calc(var(--font-size-factor) * 1em);
}

table {
    /* color: var(--color); */
    background: #000;
    /* rgb(0, 0, 0) string */
    /* background: #666; */
    /* rgb(102, 102, 102) string */
    background-color: rgba(255, 0, 255, 1);
    /* rgba(255, 0, 255, 0.7) string */
}


/* style & in line style */


/* window.getComputedStyle(elem,null).getPropertyValue("height"); */