.user-search {
    border: 1px solid #d9d9d9;
    padding: 20px 10px 10px;
    margin: 10px;
}

.user-search .ant-form-item {
    margin-bottom: 10px !important;
    /* width: 250px !important; */
}

.user-search .ant-form-inline .ant-form-item {
    margin-bottom: 10px !important;
}

.user-search .ant-calendar-picker {
    width: 164px !important;
    box-sizing: border-box;
}

.user-search .ant-calendar-range-picker-input {
    width: 60px !important;
}

.user-search input.ant-calendar-range-picker-input:nth-of-type(2n) {
    margin-left: 5px !important;
}

.user-search .ant-calendar-range-picker-separator {
    /* margin-right: 10px !important; */
}


/* 
2n+1 

https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type

:nth-of-type(2n)
*/

.search-spaces {
    margin-left: 30px;
}

.left-spaces {
    margin-left: 13px;
}


/* .datePickerStyle {
    min-width: 300px !important;
    background: #000 !important;
    display: table !important;
}

.datePickerStyle>span {
    min-width: 300px !important;
} */


/* 

.ant-calendar-picker {
    width: 164px !important;
}

.ant-calendar-range-picker-input {
    width: 60px !important;
}

*/


/*#user-check-search {
    right: -130px;
    position: absolute;
    top: -10px;
}*/


/*.itemBox {
    width: 230px;
    border: 1px solid red;
    overflow: hidden;
    text-align: right;
    padding-top: 10px;
    padding-bottom: -10px;
    float: left;
}*/